<template>
    <v-container class="pb-4 fullWidth">
        <v-row>
            <v-col cols="3">
                <v-treeview
                        class="catalogTree"
                        :active.sync="selectedCategory"
                        :items="catalog"
                        item-text="title_en"
                        open-on-click
                        activatable
                        shaped
                        expand-icon="mdi-chevron-down"
                        @update:active="() => {getProducts()}"
                >
                </v-treeview>
            </v-col>
            <v-col cols="9">
                <v-col sm="12" class="py-0">
                    <v-text-field
                            v-model="filter"
                            label="Filter"
                            clearable
                            append-icon="mdi-magnify">
                    </v-text-field>
                </v-col>

                <v-data-table
                        :headers="tableHeaders"
                        :items="products"
                        hide-default-footer
                        :hide-default-header="!products.length"
                        :items-per-page="9999"
                        class="elevation-1 mt-4"
                        :class="{'mx-2': $vuetify.breakpoint.mdAndUp}"
                        :loading="productsLoading"
                        loading-text="Loading">
                    <template v-slot:top>
                        <v-toolbar flat>
                            <v-toolbar-title>{{ selectedCategoryTitle || $t('PAGE.MASSIVE_CREATION.TITLE') }}</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    :disabled="!selectedCategory.length || productsLoading"
                                    @click="addNewProduct()"
                            >
                                New Item
                            </v-btn>
                        </v-toolbar>
                    </template>

                    <template v-slot:body="props">
                        <draggable
                                v-if="!productsLoading && props.items.length"
                                :list="products"
                                tag="tbody"
                                @end="onDropCallback"
                        >
                            <tr v-for="(item, index) in props.items"
                                :key="index"
                            >
                                <td v-for="(header, headerIndex) in tableHeaders" :key="headerIndex">
                                    <template v-if="header.value === 'title_ru' || header.value === 'title_en'">
                                        <v-edit-dialog
                                                v-if="!item.id"
                                                :return-value.sync="item[header.value]"
                                        >
                                            <template v-if="!!item[header.value]">
                                                {{ item[header.value] }}
                                            </template>
                                            <template v-else>
                                                <span class="no-data">empty</span>
                                            </template>
                                            <template v-slot:input>
                                                <v-text-field
                                                        v-model="item[header.value]"
                                                        :rules="[rules.required]"
                                                        single-line
                                                ></v-text-field>
                                            </template>
                                        </v-edit-dialog>
                                        <template v-else>
                                            {{ item[header.value] }}
                                        </template>
                                    </template>
                                    <template v-else-if="header.value === 'retail_price' || header.value === 'wholesale_price'">
                                        <v-edit-dialog
                                                :return-value.sync="item[header.value]"
                                                v-if="!item.id"
                                        >
                                            <template v-if="!!item[header.value]">
                                                {{ item[header.value] }}
                                            </template>
                                            <template v-else>
                                                <span class="no-data">empty</span>
                                            </template>
                                            <template v-slot:input>
                                                <v-text-field
                                                        v-model="item[header.value]"
                                                        type="number"
                                                        step=".01"
                                                        :rules="[rules.required]"
                                                        single-line
                                                ></v-text-field>
                                            </template>
                                        </v-edit-dialog>
                                        <template v-else>{{ item[header.value] }}</template>
                                    </template>
                                    <template v-else-if="header.value === 'actions'">
                                        <span v-if="!item.id" class="mr-4 green--text text--lighten-1 text-button font-weight-bold">NEW</span>
                                        <v-hover v-slot="{ hover }">
                                            <v-btn @click="deleteItem(index)"
                                                   :class="{'on-hover': hover}"
                                                   v-if="!item.id"
                                                   class="edit-button"
                                                   fab
                                                   dark
                                                   x-small
                                                   color="red darken-4">
                                                <v-icon dark>
                                                    mdi-delete-circle
                                                </v-icon>
                                            </v-btn>
                                        </v-hover>
                                    </template>
                                    <template v-else>{{ item[header.value] }}</template>
                                </td>
                            </tr>
                        </draggable>
                        <template v-else-if="!productsLoading && !props.items.length">
                            <tr class="v-data-table__empty-wrapper">
                                <td :colspan="tableHeaders.length" class="text-center pa-2">
                                    No data
                                </td>
                            </tr>
                        </template>
                        <template v-else-if="productsLoading">
                            <tr>
                                <td :colspan="tableHeaders.length"  class="pa-4">
                                </td>
                            </tr>
                            <tr class="v-data-table__empty-wrapper">
                                <td :colspan="tableHeaders.length" class="pa-2">
                                    Loading
                                </td>
                            </tr>
                        </template>
                    </template>
                    <template v-slot:footer>
                        <v-row v-if="products.length">
                            <v-col cols="12" class="text-right pr-6">
                                <v-btn class="amber lighten-3 mr-2"
                                       small
                                       @click="updateProducts()"
                                       :disabled="!validateExistingProducts">
                                    Update products
                                </v-btn>
                                <v-btn class="success"
                                       small
                                       @click="createProducts()"
                                       :disabled="!validateNewProducts">
                                    Create products
                                </v-btn>
                            </v-col>
                        </v-row>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<style lang="scss" src="./massiveCreation.scoped.scss" scoped></style>
<style lang="scss" src="./massiveCreation.scss"></style>
<script lang="ts" src="./massiveCreation.controller.ts"></script>