<template>
    <v-container>
        <v-form ref="form"
                @submit.prevent="saveForm"
                v-model="formValid">
            <v-btn class="ml-2"
                   color="success"
                   type="submit">
                Сохранить
            </v-btn>

            <v-col cols="12"
                   v-for="(item, index) in products"
                   :key="index">
                <v-row>
                    <v-col cols="12" class="pb-0 text-h6">
                        {{ item.title }}
                    </v-col>

                    <v-col cols="6">
                        <div class="subtitle-2 grey--text text--darken-1">
                            Опт
                        </div>
                        <div class="text-h6 grey--text text--darken-4">
                            {{ item.wholesale_price }} грн.
                        </div>
                    </v-col>
                    <v-col cols="6">
                        <div class="subtitle-2 grey--text text--darken-1">
                            Розница
                        </div>
                        <div class="text-h6 grey--text text--darken-4">
                            {{ item.retail_price }} грн.
                        </div>
                    </v-col>
                    <v-col cols="12" class="pt-0">
                        <v-text-field
                                v-model="item.product_count"
                                :label="'Количество'"
                                :rules="[rules.required]"
                                type="number"
                                required
                                hint="Обязательное поле">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12" class="pt-0">
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
            </v-col>

            <v-col cols="12"
                   class="display-1"
                   v-if="!isNaN(totalWholesalePrice) && !isNaN(totalWholesalePrice)">
                Сумма:
            </v-col>
            <v-col cols="12"
                   class="pt-0"
                   v-if="!isNaN(totalWholesalePrice) && !isNaN(totalWholesalePrice)">
                <v-row>
                    <v-col cols="6">
                        <div class="subtitle-2 grey--text text--darken-1">
                            Оптовая цена
                        </div>
                        <div class="text-h6 font-weight-bold grey--text text--darken-4">
                            {{ totalWholesalePrice }} грн.
                        </div>
                    </v-col>
                    <v-col cols="6">
                        <div class="subtitle-2 grey--text text--darken-1">
                            Розничная цена
                        </div>
                        <div class="text-h6 font-weight-bold grey--text text--darken-4">
                            {{ totalRetailPrice }} грн.
                        </div>
                    </v-col>
                </v-row>
            </v-col>

            <v-btn class="ml-2"
                   color="success"
                   type="submit">
                Сохранить
            </v-btn>
        </v-form>
    </v-container>
</template>

<script lang="ts">
    import Component from 'vue-class-component';
    import Core from '@/components/core/core.controller';
    import { Prop, Watch } from 'vue-property-decorator';
    const EventBus = require('@/plugins/eventBus').default;

    const ProductsModel = require('@/components/product/product.model').default;
    const CatalogModel = require('@/components/catalog/catalog.model').default;
    const SuppliersModel = require('@/components/warehouse/suppliers/warehouse.suppliers.model').default;

    @Component
    export default class EditSupplyStep3 extends Core {
        @Prop() savedProducts: any;
        @Prop() supplier: any;

        products: Array<any> = [];
        supplierId: any;
        formValid: boolean = false;

        status: any = null;

        mounted() {
            EventBus.$on('selectProductsForSupplier', data => {
                this.products = data.products;
                this.supplierId = data.supplierId;
            });

            EventBus.$on('supplyStatus', status => (this.status = status));
        }

        saveForm() {
            this.$refs.form['validate']();

            if (this.formValid) {
                EventBus.$emit('saveSupply', {
                    supplierId: this.supplierId,
                    products: this.products,
                    status: this.status || 1
                });
            }
            else {
                setTimeout(() => {
                    const el = document.querySelector(".v-messages.error--text:first-of-type");

                    if (el) {
                        el.scrollIntoView();
                    }
                }, 500);
            }
        }

        get totalWholesalePrice() {
            let sum = 0;

            this.products.forEach(item => {
                sum += parseFloat(item.wholesale_price) * item.product_count
            });

            return sum;
        }

        get totalRetailPrice() {
            let sum = 0;

            this.products.forEach(item => {
                sum += parseFloat(item.retail_price) * item.product_count
            });

            return sum;
        }

        @Watch('supplier')
        isSupplier(val) {
            if (!!this.supplier) {
                this.products = JSON.parse(JSON.stringify(this.savedProducts));
                this.supplierId = JSON.parse(JSON.stringify(this.supplier));
            }
        }
    }

</script>
