<template>
    <v-container>
        <v-btn class="ml-2"
               color="success"
               outlined
               @click="selectProducts()"
               :disabled="!checkedProducts.length">
            Продолжить
        </v-btn>

        <v-data-table
                v-model="checkedProducts"
                :items="supplierProducts"
                :headers="headers"
                :mobileBreakpoint="100"
                show-select>
            <template v-slot:item.category="data">
                {{ catalog.length? getCategoryById(data.item.category_id).title : '' }}
            </template>
        </v-data-table>

        <v-btn class="ml-2"
               color="success"
               outlined
               @click="selectProducts()"
               :disabled="!checkedProducts.length">
            Продолжить
        </v-btn>
    </v-container>
</template>

<script lang="ts">
    import Component from 'vue-class-component';
    import Core from '@/components/core/core.controller';
    import { Prop, Watch } from 'vue-property-decorator';
    const EventBus = require('@/plugins/eventBus').default;

    const ProductsModel = require('@/components/product/product.model').default;
    const CatalogModel = require('@/components/catalog/catalog.model').default;
    const SuppliersModel = require('@/components/warehouse/suppliers/warehouse.suppliers.model').default;

    @Component
    export default class EditSupplyStep2 extends Core {
        @Prop() savedProducts: any;

        supplierProducts: Array<any> = [];
        checkedProducts: Array<any> = [];
        catalog: Array<any> = [];

        supplierId: any;

        headers: Array<any> = [
            {
                text: 'Название',
                value: 'title',
                sortable: false
            },
            {
                text: 'Категория',
                value: 'category',
                sortable: false
            },
        ];

        mounted() {
            this.getCatalog();

            EventBus.$on('getProductsForSupplier', id => {
                this.supplierId = id;
                this.getProductsForSupplier();
            });
        }

        async getCatalog() {
            await CatalogModel
                .getCatalog()
                .then((res: any) => {
                    this.catalog = res.data;
                });
        }

        async getProductsForSupplier() {
            let products = new ProductsModel()
                .for(new SuppliersModel({id: this.supplierId}));

            this.supplierProducts = await products
                .get();
        }

        getCategoryById(id: any) {
            return this.catalog.filter(item => item.id == id)[0];
        }

        selectProducts() {
            EventBus.$emit('supplierStep', 3);
            EventBus.$emit('selectProductsForSupplier', {supplierId: this.supplierId, products: this.checkedProducts});
        }

        @Watch('savedProducts')
        isSavedProducts(val) {
            if (!!this.savedProducts) {
                this.checkedProducts = JSON.parse(JSON.stringify(this.savedProducts));
            }
        }
    }
</script>
