<template>
    <v-container>
        <v-select v-model="selectedSupplier"
                  :items="suppliers"
                  item-text="title"
                  item-value="id"
                  label="Выберите поставщика"
                  return-object
                  persistent-hint
                  :disabled="!!supplierId">

        </v-select>

        <v-col cols="12" class="py-0 text-h6" v-if="!!supplierId">
            <v-row>
                <v-col cols="3" class="pl-0 font-weight-bold py-0">
                    Статус:
                </v-col>
                <v-col cols="9" class="py-0">
                    {{ statuses.filter(item => item.id === status)[0].title }}
                </v-col>
            </v-row>
        </v-col>

        <v-col cols="12" v-if="!!supplierId">
            <v-row>
                <v-col cols="12" class="pl-0">
                    Применить статус
                    <v-divider></v-divider>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="pl-0">
                    <v-btn small
                           :color="status === 2? 'lime lighten-3' : ''"
                           @click="status = 2"
                           :outlined="status !== 2">Доставляется</v-btn>
                </v-col>
                <v-col cols="12" class="pl-0">
                    <v-btn small
                           @click="status = 3"
                           :color="status === 3? 'green lighten-2' : ''"
                           :outlined="status !== 3">Выполнен</v-btn>
                </v-col>
                <v-col cols="12" class="pl-0">
                    <v-btn small
                           @click="status = 4"
                           :color="status === 4? 'red lighten-2' : ''"
                           :outlined="status !== 4">Отменить</v-btn>
                </v-col>
            </v-row>

            <v-row>
                <v-divider></v-divider>
            </v-row>
        </v-col>

        <v-btn color="success" outlined
               @click="getProductsForSupplier()"
               :disabled="!selectedSupplier.id">
            Продолжить
        </v-btn>
    </v-container>
</template>

<script lang="ts">
    import Component from 'vue-class-component';
    import Core from '@/components/core/core.controller';
    import { Prop, Watch } from 'vue-property-decorator';
    const EventBus = require('@/plugins/eventBus').default;

    const SuppliersModel = require('@/components/warehouse/suppliers/warehouse.suppliers.model').default;

    @Component
    export default class EditSupplyStep1 extends Core {
        @Prop() supplierId: any;
        @Prop() supplyStatus: any;
        @Prop() supplyId: any;

        suppliers: Array<any> = [];
        selectedSupplier: any = {};

        status: any = 0;
        statuses: Array<any> = [
            {id: 1, title: 'Создано'},
            {id: 2, title: 'Доставляется'},
            {id: 3, title: 'Выполнено'},
            {id: 4, title: 'Отменен'}
        ]

        mounted() {
            this.getSuppliers();
        }

        async getSuppliers() {
            await SuppliersModel
                .get()
                .then((res: any) => {
                    this.suppliers = res;

                    if (this.supplierId) {
                        this.selectedSupplier = this.suppliers.filter(item => item.id == this.supplierId)[0].id
                    }
                });
        }

        getProductsForSupplier() {
            EventBus.$emit('getProductsForSupplier', this.selectedSupplier.id);
            EventBus.$emit('supplierStep', this.supplierId? 3: 2);

            if (this.supplierId) {
                EventBus.$emit('supplyStatus', this.status);
            }
        }

        @Watch('supplyId')
        isSupplierId(val: any) {
            if (this.supplyId) {
                this.selectedSupplier = this.suppliers.filter(item => item.id == this.supplierId)[0];
                this.status = JSON.parse(JSON.stringify(this.supplyStatus));

                console.log(this.status);
            }
        }
    }
</script>
