.v-navigation-drawer {
    &.cart {
        .v-input {
            .v-input__prepend-outer,
            .v-input__append-outer {
                margin-top: 10px;
            }

            &__slot {
                min-height: 40px;
            }

            &__control {
                margin-top: 8px;
            }
        }
    }

    .v-stepper__wrapper {
        overflow: auto;
    }
}

#langSelector {
    .v-input__slot {
        background: transparent;
        padding: 0;
    }
}

.editr {
    .editr--toolbar{
        div[title='Hyperlink'],
        div[title='Code'],
        div[title='Ordered List (1, 2, 3)'],
        div[title='Bullet List'],
        div[title='Bullet List'] + div,
        div[title='Insert Image'],
        div[title='Insert Table'],
        div[title='Insert Table'] + div {
            display: none;
        }
    }
}

.draggableImages {
    .nestable-list {
        display: flex;

        .nestable-item {
            width: 20%;
            margin-right: 5%;
        }
    }

    .nestable-drag-layer {
        display: none !important;
    }
}

.nestable {
    position: relative;
}
.nestable-rtl {
    direction: rtl;
}
.nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
}
.nestable-rtl .nestable-list {
    padding: 0 40px 0 0;
}
.nestable > .nestable-list {
    padding: 0;
}
.nestable-item,
.nestable-item-copy {
    margin: 10px 0 0;
    border-left: 1px #000 solid;
    padding-left: 10px;
}
.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}
.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 10px;
}
.nestable-item {
    position: relative;
}
.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}
.nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}
.nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}
.nestable-rtl .nestable-drag-layer {
    left: auto;
    right: 0;
}
.nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
}
.nestable-rtl .nestable-drag-layer > .nestable-list {
    padding: 0;
}
.nestable [draggable="true"] {
    cursor: move;
}
.nestable-handle {
    display: inline;
}
.nestable-item-content {
    padding: 6px;
    line-height: 38px;
    transition: background-color .4s ease-in-out;

    &:hover {
        background-color: #efefef;
    }
}