.logo {
    font-family: 'Playfair Display', serif;
    line-height: 50px;
}

.pageContent {
    width: calc(100% - 256px);
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 4px !important;
}

@media only screen and (max-width: 960px) {
    .pageContent {
        width: 100%;
        padding-top: 60px !important;
    }
}

.v-navigation-drawer {
    &.main-menu {
        height: auto !important;
    }

    .v-list-item {
        min-height: 33px;

        &__icon {
            margin: 12px 10px 12px 0;
        }
    }

    &.cart {
        .noImageBlock {
            height: 57px;
        }
    }
}

.orderSummary {
    background-color: #fafafa;
    border: 1px #e0e0e0 solid;
    color: #646464;
    font-size: 12px;
}

.bottomBorder {
    &:last-child {
        border: 0;
    }
}

#langSelector {
    width: 62px;
}

.langItem {
    width: 26px;
    height: 26px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    &.en {
        background-image: url('~@/assets/uk.svg');
    }

    &.ua {
        background-image: url('~@/assets/ua.svg');
    }

    &.gr {
        background-image: url('~@/assets/gr.svg');
    }

    &.ru {
        background-image: url('~@/assets/ru.svg');
    }
}

.main-container {
    background: #f1f2f4;
    min-height: 100%;
}

.body-layout {
    min-height: 100%;
}