<template>
    <v-container fluid
                 class="fullWidth"
                 v-if="$vuetify.breakpoint.smAndDown">
        <v-app-bar
                fixed
                dense
                dark
                prominent
                height="50"
        >
            <v-app-bar-nav-icon
                    @click.stop="mainMenuOpened = !mainMenuOpened"
            ></v-app-bar-nav-icon>

            <v-spacer></v-spacer>

            <span class="logo">LUPUM</span>

            <v-spacer></v-spacer>
            <span id="langSelector">
                <v-select v-model="$i18n.locale"
                          hide-details
                          solo flat
                          :items="locales" class="mt-0">
                    <template v-slot:item="{ item }">
                        <span class="langItem" :class="item"></span>
                    </template>
                    <template v-slot:selection="{ item, index }">
                        <span class="langItem" :class="item"></span>
                    </template>
                </v-select>
            </span>
        </v-app-bar>

        <v-navigation-drawer
                v-model="mainMenuOpened"
                fixed
                temporary
        >
            <v-list class="pt-4">
                <v-list-item
                        v-for="(menuItem, index) in mainMenuItems"
                        :key="index"
                        link
                        :to="menuItem.path"
                >
                    <v-list-item-icon>
                        <v-icon>{{ menuItem.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="title subtitle-1 font-weight-medium">
                            {{ $t(menuItem.title) }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item to="/orders">
                    <v-list-item-icon>
                        <v-icon>mdi-cart-outline</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="title subtitle-1 font-weight-medium">
                            {{ $t('MAIN_MENU.LIST.ORDERS') }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item :to="'/user/profile/me'">
                    <v-list-item-icon>
                        <v-icon>mdi-account-details</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="title subtitle-1 font-weight-medium">
                            {{ $t('MAIN_MENU.LIST.PROFILE') }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item :to="'/logout'">
                    <v-list-item-icon>
                        <v-icon>mdi-exit-run</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title class="title subtitle-1 font-weight-medium">
                            {{ $t('MAIN_MENU.LIST.LOGOUT') }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <router-view class="pageContent"/>
    </v-container>
    <v-container class="main-container" v-else>
        <v-app-bar
            fixed
            dense
            dark
            prominent
            height="50"
        >
            <v-app-bar-nav-icon
                @click.stop="mainMenuOpened = !mainMenuOpened"
            ></v-app-bar-nav-icon>

            <v-spacer></v-spacer>

            <span class="logo">LUPUM</span>

            <v-spacer></v-spacer>
            <span id="langSelector">
                <v-select v-model="$i18n.locale"
                          hide-details
                          solo flat
                          :items="locales" class="mt-0">
                    <template v-slot:item="{ item }">
                        <span class="langItem" :class="item"></span>
                    </template>
                    <template v-slot:selection="{ item, index }">
                        <span class="langItem" :class="item"></span>
                    </template>
                </v-select>
            </span>
        </v-app-bar>
        <v-layout class="pt-12 body-layout">
            <v-navigation-drawer permanent class="main-menu">
                <v-list class="pt-4">
                    <v-list-item
                        v-for="(menuItem, index) in mainMenuItems"
                        :key="index"
                        link
                        :to="menuItem.path"
                    >
                        <v-list-item-icon>
                            <v-icon>{{ menuItem.icon }}</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="title subtitle-1 font-weight-medium">
                                {{ $t(menuItem.title) }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item to="/orders">
                        <v-list-item-icon>
                            <v-icon>mdi-cart-outline</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="title subtitle-1 font-weight-medium">
                                {{ $t('MAIN_MENU.LIST.ORDERS') }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item :to="'/user/profile/me'">
                        <v-list-item-icon>
                            <v-icon>mdi-account-details</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="title subtitle-1 font-weight-medium">
                                {{ $t('MAIN_MENU.LIST.PROFILE') }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item :to="'/logout'">
                        <v-list-item-icon>
                            <v-icon>mdi-exit-run</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title class="title subtitle-1 font-weight-medium">
                                {{ $t('MAIN_MENU.LIST.LOGOUT') }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-row>
                    <v-col cols="7">Session expired in:</v-col>
                    <v-col>{{ formatHours(sessionExpiredIn) }}</v-col>
                </v-row>
            </v-navigation-drawer>
            <router-view class="pageContent"/>
        </v-layout>
    </v-container>
</template>

<script lang="ts" src="./innerPage.controller.ts"></script>
<style lang="scss" src="./innerPage.scoped.scss" scoped></style>
<style lang="scss" src="./innerPage.global.scss"></style>
