<template>
    <v-container v-if="catalogLoaded">
        <v-row>
            <v-col cols="12" class="text-h4 pl-5">
                Catalog
            </v-col>
        </v-row>

        <v-divider></v-divider>

        <v-row v-if="selectCategoryId">
            <v-col>
                Selected category: {{ getCategoryByid(selectCategoryId).title_en }}
            </v-col>
        </v-row>

        <v-carousel v-model="currentCatalogLevel"
                    hide-delimiters
                    height="auto"
                    :show-arrows="false">
            <v-carousel-item
                    light
                    v-for="(catalogLevel, catalogIndex) in catalogLevels"
                    :key="catalogIndex">
                <v-list-item
                        v-if="catalogLevel && catalogLevel.parent"
                        @click="openPrevLevel()">
                    <v-list-item-icon>
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-list-item-icon>
                    <v-list-item-title>
                        {{ catalogLevel.parent.title_en }}
                    </v-list-item-title>
                </v-list-item>

                <v-list-item v-if="!catalogLevel.children">
                    <v-list-item-title>
                        Отсутствуют категории
                    </v-list-item-title>
                </v-list-item>


                <v-list-item
                        v-for="(listItem, itemIndex) in catalogLevel.children"
                        @click="clickOnItem(listItem)"
                        :key="itemIndex">
                    <v-list-item-title :class="{'disabled_category': !listItem.status}">
                        {{ listItem.title_en }}
                    </v-list-item-title>

                    <v-list-item-icon>
                        <v-btn fab small
                               v-if="selectCategory && !listItem.children.length"
                               :dark="selectCategoryId === listItem.id"
                               :outlined="selectCategoryId !== listItem.id"
                               :color="selectCategoryId === listItem.id ? 'success': ''"
                               @click="selectCategory(listItem.id)"
                        >
                            <v-icon>mdi-playlist-check</v-icon>
                        </v-btn>

                        <v-icon v-if="listItem.children && listItem.children.length"
                                @click="openNextLevel(listItem)">
                            mdi-chevron-right
                        </v-icon>

                        <v-btn icon
                               v-if="checkIsCatalogPage(listItem)"
                               @click="editCategory(listItem)">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>

                        <v-btn icon
                               class="deleteButton"
                               v-if="checkIsCatalogPage(listItem)"
                               @click="deleteCategory(listItem)">
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </v-list-item-icon>
                </v-list-item>
            </v-carousel-item>
        </v-carousel>

        <v-navigation-drawer
                v-model="editCatalog"
                fixed
                temporary
                right
            >

            <v-toolbar
                    flat
                    dark
                    color="#272727"
            >
                <v-toolbar-title>
                    Редактирование каталога
                </v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn dark icon @click="editCatalog = false">
                    <v-icon>
                        mdi-window-close
                    </v-icon>
                </v-btn>
            </v-toolbar>

            <v-form v-model="editFormValid"
                    v-if="categoryForEdit"
                    @submit.prevent="saveCategory()"
                    ref="form">
                <v-col cols="12">
                    <v-text-field
                            v-model="categoryForEdit.title_en"
                            :label="'Название категории'"
                            :rules="[rules.required]"
                    ></v-text-field>
                </v-col>

                <v-col cols="12">
                    <v-btn type="submit">
                        Сохранить
                    </v-btn>
                </v-col>
            </v-form>
        </v-navigation-drawer>
    </v-container>
</template>

<script lang="ts" src="./catalog.list.controller.ts"></script>
<style lang="scss" src="./catalog.list.scoped.scss" scoped></style>
