.v-list-item {
  &:hover {
    background: #eee;
    transition: 300ms all;
    border-radius: 10px;
  }

  &__title {
    cursor: pointer;

    &.disabled_category {
      color: #a8a8a8;
    }
  }
}