<template>
    <div class="progress-bar" :style="{width: getWidth}">
        {{ color }}
        <div class="progress-bar--value">
            {{ progress }}%
        </div>
        <div class="progress-bar--container"
             :style="{
                height: getHeight,
                backgroundColor: color || getColor
             }"
        >
            <div
                class="progress-bar--progress"
                :style="{
                    width: getProgress
                }"
            ></div>
        </div>
    </div>

</template>

<script>
export default {
    props: {
        progress: Number | String,
        color: String,
        height: Number | String,
        width: Number | String
    },
    computed: {
        getProgress() {
            if (isNaN(this.progress) || !this.progress.length) {
                return `100%`;
            } else {
                if (this.progress > 100) {
                    return `0%`;
                }
                else if (this.progress < 0) {
                    return `100%`;
                } else {
                    return `${100 - this.progress}%`;
                }
            }
        },
        getColor() {
            if (isNaN(this.progress) || !this.progress.length) {
                return "#4CAF50";
            } else {

                if (this.progress <= 50) {
                    return "#4CAF50";
                }
                else if (this.progress > 50 && this.progress < 79) {
                    return "#FF9800";
                } else {
                    return "#F44336";
                }
            }
        },
        // getBg() {
        //     if (isNaN(this.progress) || !this.progress.length) {
        //         return "#C8E6C9";
        //     } else {
        //
        //         if (this.progress <= 50) {
        //             return "#C8E6C9";
        //         }
        //         else if (this.progress > 50 && this.progress < 79) {
        //             return "#FFE0B2";
        //         } else {
        //             return "#FFCDD2";
        //         }
        //     }
        // },
        getWidth() {
            if (isNaN(this.width) && typeof this.width != 'undefined') {
                if (!this.width.match(/^\d*(px|%){1}$/)) {
                    return 100+'%';
                }

                return this.width;
            } else if (!isNaN(this.width)){
                return this.width+'%';
            }

            return 100+"%";
        },
        getHeight() {
            if (isNaN(this.height) || !this.height.length) {
                return 4+'px';
            } else {
                if (this.height < 4) {
                    return 4+'px';
                } else {
                    return this.height+'px';
                }
            }
        },
    }
}
</script>

<style lang="scss" scoped>
    .progress-bar {
        display: flex;
        align-items: center;

        &--value {
            display: flex;
            width: 50px;
            justify-content: center;
        }

        &--container {
            height: 4px;
            display: flex;
            width: calc(100% - 50px);
            text-align: right;
            justify-content: right;
        }

        &--progress {
            transition: 500ms all;
            height: 100%;
            opacity: 0.70;
            background-color: #FFFFFF;
        }
    }
</style>