<template>
    <v-container class="fullWidth pt-1">
        <v-toolbar
                flat
        >
            <v-toolbar-title class="text-h4">Stocks</v-toolbar-title>
            <v-divider
                    class="mx-4"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-divider></v-divider>

        <v-row>
            <v-col cols="3">
                <v-treeview
                        class="catalogTree"
                        :active.sync="selectedCategory"
                        :items="catalog"
                        item-text="title"
                        open-on-click
                        activatable
                        shaped
                        expand-icon="mdi-chevron-down"
                        @update:active="() => {getProducts(1)}"
                >
                </v-treeview>
            </v-col>
            <v-col cols="9">
                <v-col sm="12" class="py-0">
                    <v-text-field
                            v-model="filter"
                            label="Filter"
                            :loading="filterLoading"
                            clearable
                            append-icon="mdi-magnify">
                    </v-text-field>
                </v-col>

                <v-data-table
                        class="elevation-3 mx-3"
                        :items="stocks"
                        :headers="headers"
                        hide-default-footer>
                </v-data-table>
                <div class="text-center my-5" v-if="!!stocks.length">
                    <v-pagination
                            v-model="page"
                            :length="totalPages"
                            @input="getProducts"
                    ></v-pagination>
                </div>
            </v-col>
        </v-row>


<!--        <div class="ma-2 elevation-3">-->
<!--            <v-col cols="12">-->
<!--                <v-row>-->
<!--                    <v-col cols="9" class="font-weight-bold">Название</v-col>-->
<!--                    <v-col cols="3" class="font-weight-bold">Запас</v-col>-->
<!--                </v-row>-->
<!--                <v-divider></v-divider>-->

<!--                <v-row v-for="(product, index) in stocks"-->
<!--                       :key="index">-->
<!--                    <v-col cols="9">-->
<!--                        {{ product.title }}-->
<!--                    </v-col>-->
<!--                    <v-col cols="2">-->
<!--                        {{ product.count }}-->
<!--                    </v-col>-->
<!--                </v-row>-->
<!--            </v-col>-->
<!--        </div>-->
    </v-container>
</template>

<script lang="ts" src="./warehouse.stocks.controller.ts"></script>
