<template>
    <v-container class="fullWidth pt-1">
        <v-toolbar
                flat
        >
            <v-toolbar-title class="text-h4" :class="{'text-h6': $vuetify.breakpoint.mdAndDown}">New supply</v-toolbar-title>
            <v-divider
                    class="mx-4"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn class="ma-3"
                   color="primary"
                   @click="productsModal = true">
                Find products
                <v-icon style="width: 24px"
                        small
                        color="white">
                    mdi-magnify
                </v-icon>
            </v-btn>
        </v-toolbar>

        <v-divider></v-divider>

        <v-navigation-drawer
                v-model="productsModal"
                fixed
                temporary
                right
                width="100%"
        >
            <select-products
                    :selected-products="selectedProducts"
                    :modal="productsModal"></select-products>
        </v-navigation-drawer>

        <v-row class="pa-3"
               v-if="selectedProducts.length">
            <v-col cols="12"
                   sm="4"
                   :class="{'rightBorder': $vuetify.breakpoint.mdAndUp}">
                <v-expansion-panels>
                    <v-expansion-panel
                            v-for="(product, index) in selectedProducts"
                            :key="index">
                        <v-expansion-panel-header>
                            {{ product.title_en }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-row>
                                <v-col cols="6">
                                    <v-text-field
                                            label="Count"
                                            type="number"
                                            v-model="product.purchase_count">
                                    </v-text-field>
                                    <v-text-field
                                            label="Price"
                                            v-model="product.purchase_price"
                                            type="number"
                                            @change="updatePrices(product)">
                                    </v-text-field>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field
                                            class="textfieldWithHint"
                                            label="Wholesale Price"
                                            v-model="product.wholesale_price"
                                            :hint="product.old_wholesale_price? 'Old price:' + product.old_wholesale_price: ''"
                                            persistent-hint>
                                    </v-text-field>
                                    <v-text-field
                                            class="textfieldWithHint"
                                            label="Retail Price"
                                            v-model="product.retail_price"
                                            :hint="product.old_retail_price? 'Old price:' + product.old_retail_price: ''"
                                            persistent-hint>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
            <v-col cols="12" sm="8">
                <v-sheet class="orderSummary">
                    <div>
                        <v-row no-gutters class="py-2 mx-4 bottomBorder font-weight-medium">
                            <v-col cols="6" class="pl-1">
                                Title
                            </v-col>
                            <v-col cols="2">
                                Count
                            </v-col>
                            <v-col cols="2">
                                Price
                            </v-col>
                            <v-col cols="2">
                                Total
                            </v-col>
                        </v-row>
                        <v-row v-for="(product, i) in selectedProducts"
                               :key="i"
                               no-gutters
                               class="py-2 mx-4 bottomBorder font-weight-light">
                            <v-col cols="6" class="pl-2">
                                {{ product.title_en }}
                            </v-col>
                            <v-col cols="2">
                                {{ product.purchase_count }}
                            </v-col>
                            <v-col cols="2">
                                {{ product.purchase_price }}
                            </v-col>
                            <v-col cols="2" class="font-weight-medium">
                                {{ product.purchase_price * product.purchase_count }}
                            </v-col>
                        </v-row>
                    </div>

                    <v-divider></v-divider>
                    <v-row no-gutters class="py-2 pl-3">
                        <v-col class="text-h5 pl-2">Total: {{ purchaseTotalPrice }}</v-col>
                        <v-col class="text-right">
                            <v-btn class="ma-3"
                                   color="success"
                                   :disabled="!purchaseTotalPrice"
                                   @click="createNewSupply()">
                                Create new supply
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts" src="./warehouse.supplies.new.controller.ts"></script>
<style lang="scss" src="./warehouse.supplies.new.scoped.scss" scoped></style>