.v-stepper {
    height: 100%;
    overflow: auto;

    .v-stepper__header {
        z-index: 1;
        background-color: #fff;
        position: relative;
    }
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px #000 solid;

    &.created {
        background-color: #546e7a;
    }

    &.delivery {
        background-color: #e6ee9c;
    }

    &.done {
        background-color: #81c784;
    }

    &.canceled {
        background-color: #e57373;
    }
}

.selectedSupplier {
    background-color: rgba(70, 130, 180, 0.2);
}

.relative {
    position: relative;
}

.orderSummary {
    background-color: #fafafa;
    border: 1px #e0e0e0 solid;
    color: #646464;
    font-size: 12px;
}

.bottomBorder {
    &:last-child {
        border: 0;
    }
}