<template>
    <v-container fluid class="fullWidth">
        <v-col cols="12" class="pt-0">
            <v-row>
                <v-col class="text-h4 pl-5">
                    Мои заказы
                </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
                <v-col cols="12">
                    <v-expansion-panels v-if="orders.length"
                                        v-model="openedOrder">
                        <v-expansion-panel
                                v-for="(order, index) in orders"
                                :key="index"
                        >
                            <v-expansion-panel-header>
                                <v-row noGutters>
                                    <v-col cols="3">
                                        № {{ order.id }}
                                    </v-col>
                                    <v-col cols="5">
                                        {{ formatDateToRu(new Date(order.createdAt)) }}
                                    </v-col>
                                  <v-col cols=4>
                                    {{ getOrderStatus(order).title }}
                                  </v-col>
                                </v-row>
                            </v-expansion-panel-header>

                            <v-expansion-panel-content class="pt-2">
                                <template v-if="!order.edit">
                                    <v-row class="no-gutters">
                                        <v-col cols="12" sm="6">
                                            <v-sheet
                                                    class="orderSummary mt-4 ml-0"
                                                    :class="{'mr-7': $vuetify.breakpoint.mdAndUp}">
                                                <div>
                                                    <v-row no-gutters class="py-2 mx-4 bottomBorder font-weight-medium">
                                                        <v-col cols="4" sm="7" class="pl-1">
                                                            Title
                                                        </v-col>
                                                        <v-col cols="4" sm="1" class="text-center">
                                                            Count
                                                        </v-col>
                                                        <v-col cols="2" class="text-center">
                                                            Price
                                                        </v-col>
                                                        <v-col cols="2" class="text-center">
                                                            Total
                                                        </v-col>
                                                    </v-row>
                                                    <v-row v-for="(product, i) in order.products"
                                                           :key="i"
                                                           no-gutters
                                                           class="py-3 mx-4 bottomBorder font-weight-light align-center">
                                                        <v-col cols="4" sm="7" class="pl-2">
                                                            {{ product.details.title_en }}
                                                        </v-col>
                                                        <v-col cols="4" sm="1" class="text-center">
                                                            {{ product.count }}
                                                        </v-col>
                                                        <v-col cols="2" class="text-center align-center justify-center">
                                                            {{ product.price }}
                                                        </v-col>
                                                        <v-col cols="2" class="font-weight-medium text-center">
                                                            {{ product.price * product.count }}
                                                        </v-col>
                                                    </v-row>
                                                </div>

                                                <v-divider></v-divider>
                                                <v-row no-gutters class="py-2 pl-3"
                                                       v-if="order.products">
                                                    <v-col class="text-h5 pl-2">Total: {{ cartSum(order) }}</v-col>
                                                </v-row>
                                            </v-sheet>
                                        </v-col>
                                        <v-col cols="12" sm="6" class="mt-4">
                                            <h2>Contacts</h2>
                                            <v-divider></v-divider>
                                            <p class="mt-2">
                                                <b>Full name:</b>
                                                {{ order.first_name }} {{ order.last_name }}
                                            </p>
                                            <p>
                                                <b>Phone code:</b>
                                                {{ getOrderCountry(order).dial_code }}
                                            </p>
                                            <p>
                                                <b>Phone:</b>
                                                {{ order.phone }}
                                            </p>
                                            <p>
                                                <b>Country:</b>
                                                {{ getOrderCountry(order).name }}
                                            </p>
                                            <p>
                                                <b>City:</b>
                                                {{ order.city }}
                                            </p>
                                            <p>
                                                <b>Address:</b>
                                                {{ order.address }}
                                            </p>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12"
                                               class="text-right">
                                            <v-btn
                                                    @click="cancelOrder(order)"
                                                    class="mr-2"
                                                    color="error">
                                                Cancel order
                                            </v-btn>
                                            <v-btn
                                                    @click="editOrder(order)"
                                                    color="primary">
                                                Edit
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </template>
                                <template v-else>
                                    <v-form v-model="editFormValid">
                                        <v-row no-gutters>
                                            <v-col cols="12" sm="6">
                                                <v-select v-model="orderForEdit.status"
                                                          :items="statuses"
                                                          item-value="id"
                                                          item-text="title"
                                                          label="Status"
                                                          :class="{'mr-7': $vuetify.breakpoint.mdAndUp}">
                                                </v-select>
                                                <v-sheet class="orderSummary mt-4 ml-0"
                                                         :class="{'mr-7': $vuetify.breakpoint.mdAndUp}">
                                                    <div>
                                                        <v-row no-gutters class="py-2 mx-4 bottomBorder font-weight-medium">
                                                            <v-col cols="4" sm="5" class="pl-1">
                                                                Title
                                                            </v-col>
                                                            <v-col cols="3" sm="2" class="text-center">
                                                                Count
                                                            </v-col>
                                                            <v-col cols="2" class="text-center">
                                                                Price
                                                            </v-col>
                                                            <v-col cols="2" class="text-center">
                                                                Total
                                                            </v-col>
                                                            <v-col cols="1"></v-col>
                                                        </v-row>
                                                        <v-row v-for="(product, i) in orderForEdit.products"
                                                               :key="i"
                                                               no-gutters
                                                               class="py-3 mx-4 bottomBorder font-weight-light align-center">
                                                            <v-col cols="4" sm="5" class="pl-2">
                                                                {{ product.details.title_en }}
                                                            </v-col>
                                                            <v-col cols="3" sm="2" class="text-center">
                                                                <v-text-field
                                                                        v-model="product.count"
                                                                        type="number"
                                                                        readonly
                                                                        hide-details
                                                                        class="productCount"
                                                                >
                                                                    <template v-slot:prepend="">
                                                                        <v-btn icon
                                                                               dense
                                                                               x-small
                                                                               :disabled="product.count === 1"
                                                                               @click="product.count--"
                                                                               class="pt-1">
                                                                            <v-icon
                                                                                    dense
                                                                                    color="error"
                                                                            >
                                                                                mdi-minus
                                                                            </v-icon>
                                                                        </v-btn>
                                                                    </template>

                                                                    <template v-slot:append-outer>
                                                                        <v-btn icon
                                                                               class="pt-1"
                                                                               x-small
                                                                               @click="product.count++">
                                                                            <v-icon
                                                                                    color="success">
                                                                                mdi-plus
                                                                            </v-icon>
                                                                        </v-btn>
                                                                    </template>
                                                                </v-text-field>
                                                            </v-col>
                                                            <v-col cols="2" class="text-center align-center justify-center">
                                                                {{ product.price }}
                                                            </v-col>
                                                            <v-col cols="2" class="font-weight-medium text-center">
                                                                {{ product.price * product.count }}
                                                            </v-col>
                                                            <v-col cols="1">
                                                                <v-hover
                                                                        v-slot="{ hover }"
                                                                >
                                                                    <v-btn icon
                                                                           small
                                                                           :class="{'on-hover': hover}"
                                                                           @click="removeProduct(i)"
                                                                    >
                                                                        <v-icon
                                                                            small
                                                                        >
                                                                            mdi-close
                                                                        </v-icon>
                                                                    </v-btn>
                                                                </v-hover>
                                                            </v-col>
                                                        </v-row>
                                                    </div>

                                                    <v-divider></v-divider>
                                                    <v-row no-gutters class="py-2 pl-3"
                                                           v-if="order.products">
                                                        <v-col class="text-h5 pl-2">Total: {{ cartSum(orderForEdit) }}</v-col>
                                                    </v-row>
                                                </v-sheet>
                                            </v-col>
                                            <v-col cols="12" sm="6" class="mt-2">
                                                <v-row no-gutters>
                                                    <v-col cols="6" class="pr-4">
                                                        <v-text-field
                                                                v-model="orderForEdit.first_name"
                                                                label="First name"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="6">
                                                        <v-text-field
                                                                v-model="orderForEdit.last_name"
                                                                label="Last name"
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row no-gutters>
                                                    <v-col cols="12">
                                                        <v-text-field
                                                                v-model="orderForEdit.phone"
                                                                label="Phone number"
                                                                hint="Example: +1(111)111-11-11"
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row no-gutters>
                                                    <v-col cols="12">
                                                        <v-select
                                                                :items="countries"
                                                                v-model="orderForEdit.country"
                                                                label="Country"
                                                                item-text="name"
                                                                item-value="code"
                                                        >
                                                        </v-select>
                                                    </v-col>
                                                </v-row>
                                                <v-row no-gutters>
                                                    <v-text-field v-model="orderForEdit.city"
                                                                  :disabled="!orderForEdit.country"
                                                                  label="City"
                                                                  :rules="[rules.required]">
                                                    </v-text-field>
                                                </v-row>
                                                <v-row no-gutters>
                                                    <v-text-field v-model="orderForEdit.address"
                                                                  :disabled="!orderForEdit.country"
                                                                  label="Address"
                                                                  :rules="[rules.required]">
                                                    </v-text-field>
                                                </v-row>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12"
                                                   class="text-right">
                                                <v-btn
                                                        @click="cancelEdit(order)"
                                                        color="error"
                                                        class="mr-2">
                                                    Cancel
                                                </v-btn>
                                                <v-btn
                                                        @click="saveOrder()"
                                                        color="success">
                                                    Save
                                                </v-btn>
                                            </v-col>
                                        </v-row>
                                    </v-form>
                                </template>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-col>
            </v-row>
        </v-col>
    </v-container>
</template>

<script lang="ts" src="./orders.controller.ts"></script>
<style lang="scss" src="./orders.scoped.scss" scoped></style>