.orderSummary {
  background-color: #fafafa;
  border: 1px #e0e0e0 solid;
  color: #646464;
  font-size: 14px;
}

.bottomBorder {
  &:last-child {
    border: 0;
  }
}

p b {
  width: 90px;
  display: inline-block
}

.v-btn--icon.v-size--x-small .v-icon {
  font-size: 24px;
}

.productCount {
  margin-top: 2px;
  padding-top: 0;
}

.v-btn.on-hover {
  color: #b71c1c;
  transition: 300ms all;
}