<template>
    <v-container class="fullWidth">
        <router-view></router-view>

<!--        <v-navigation-drawer-->
<!--                v-model="supplyModal"-->
<!--                fixed-->
<!--                temporary-->
<!--                right-->
<!--                width="100%"-->
<!--        >-->

<!--            <v-toolbar-->
<!--                    flat-->
<!--                    dark-->
<!--                    color="#272727"-->
<!--            >-->
<!--                <v-toolbar-title>-->

<!--                    {{ supplyForEdit.id? 'Редактирование': 'Создание'}} поставки-->
<!--                </v-toolbar-title>-->
<!--                <v-spacer></v-spacer>-->

<!--                <v-btn dark icon @click="supplyModal = false">-->
<!--                    <v-icon>-->
<!--                        mdi-window-close-->
<!--                    </v-icon>-->
<!--                </v-btn>-->
<!--            </v-toolbar>-->

<!--            <v-stepper v-model="createSupplyStep">-->
<!--                <v-stepper-header>-->
<!--                    <v-stepper-step-->
<!--                            :complete="createSupplyStep > 1"-->
<!--                            :step="1"-->
<!--                            editable-->
<!--                    >-->
<!--                    </v-stepper-step>-->

<!--                    <v-divider></v-divider>-->

<!--                    <v-stepper-step-->
<!--                            :complete="createSupplyStep > 2 || !!supplyForEdit.id"-->
<!--                            :step="2"-->
<!--                            :editable="createSupplyStep > 1 && !supplyForEdit.id"-->
<!--                            :color="!!supplyForEdit.id? 'grey' : 'primary'"-->
<!--                    >-->
<!--                    </v-stepper-step>-->

<!--                    <v-divider></v-divider>-->

<!--                    <v-stepper-step-->
<!--                            :step="3"-->
<!--                            :editable="createSupplyStep > 2"-->
<!--                    >-->
<!--                    </v-stepper-step>-->
<!--                </v-stepper-header>-->

<!--                <v-stepper-items>-->
<!--                    <v-stepper-content :step="1" class="px-5">-->
<!--                        <step-1 :supplier-id="supplyForEdit.supplier_id"-->
<!--                                :supply-status="supplyForEdit.status"-->
<!--                                :supply-id="supplyForEdit.id"></step-1>-->
<!--                    </v-stepper-content>-->

<!--                    <v-stepper-content :step="2" class="px-0">-->
<!--                        <step-2></step-2>-->
<!--                    </v-stepper-content>-->

<!--                    <v-stepper-content :step="3" class="px-0">-->
<!--                        <step-3 :saved-products="supplyForEdit.products"-->
<!--                                :supplier="supplyForEdit.supplier_id"></step-3>-->
<!--                    </v-stepper-content>-->
<!--                </v-stepper-items>-->
<!--            </v-stepper>-->
<!--        </v-navigation-drawer>-->

    </v-container>
</template>
