.container.pageContent {
    @media (min-width: 960px) and (max-width: 1263px) {
        width: 100%;
    }
}

.v-expansion-panels {

    .col-md-7.col-11, .col {
        line-height: 24px;
    }

    .v-expansion-panel-header {
        .col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .v-expansion-panel-content {
        .row.card-wrapper {
            margin-left: -24px;
            margin-right: -24px;
        }

        .v-card__title {
            word-break: break-word;
        }
    }
}

@media only screen and (max-width: 960px) {
    .productTitle {
        max-height: 5rem;
        overflow: hidden;
    }
}

.noImageBlock {
    min-height: 92px;
}

.imageBlock {
    //height: 104px;
}

//nav[aria-label="Pagination Navigation"] {
//    position: fixed;
//    bottom: 0;
//    left: 0;
//    z-index: 2;
//    width: 100%;
//    background: #fff;
//    border-top: 1px #ababab solid;
//    box-shadow: 0px 0px 4px 0px #ababab;
//    padding-top: 5px;
//    padding-bottom: 5px;
//}
