<template>
    <v-container>
        <h2 class="mt-4">{{ categoryName.title }}</h2>
        <v-alert
                v-if="!productList.length"
                border="left"
                colored-border
                type="warning"
                elevation="2"
        >
            В этой категории нет товаров
        </v-alert>

        <v-row noGutters v-if="$vuetify.breakpoint.mdAndUp">
            <v-col cols="12">
                <v-data-table
                        :headers="headers"
                        :items="productList"
                        :items-per-page="10"
                        :class="{'mt-12': !productList.length, 'mt-4': !!productList.length}"
                        class="elevation-2"
                >
                    <template v-slot:top>
                        <v-toolbar
                                flat
                        >

                            <v-text-field v-model="filter"
                                          class="mt-5"
                                          label="Filter"></v-text-field>
                            <v-spacer></v-spacer>
                            <v-switch
                                v-model="showOnlyInStock"
                                label="Show only in stock"
                                color="success"
                                hide-details
                                @change="getProducts(page)"
                            ></v-switch>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    @click="editProduct()"
                            >
                                New Item
                                <v-icon style="width: 24px"
                                        small
                                        color="white">
                                    mdi-plus-circle
                                </v-icon>
                            </v-btn>
                        </v-toolbar>
                    </template>
                    <template v-slot:item.wholesale_0="{ item }">
                        {{ roundNum(item.wholesale_price * (1 + parseFloat(item.extraWholesales[0].percentage)/100)) }}
                    </template>
                    <template v-slot:item.wholesale_1="{ item }">
                        {{ roundNum(item.wholesale_price * (1 + parseFloat(item.extraWholesales[1].percentage)/100)) }}
                    </template>
                    <template v-slot:item.wholesale_2="{ item }">
                        {{ roundNum(item.wholesale_price * (1 + parseFloat(item.extraWholesales[2].percentage)/100)) }}
                    </template>
                    <template v-slot:item.wholesale_3="{ item }">
                        {{ roundNum(item.wholesale_price * (1 + parseFloat(item.extraWholesales[3].percentage)/100)) }}
                    </template>
                    <template v-slot:item.wholesale_4="{ item }">
                        {{ roundNum(item.wholesale_price * (1 + parseFloat(item.extraWholesales[4].percentage)/100)) }}
                    </template>
                    <template v-slot:item.wholesale_price="{ item }">
                        {{ roundNum(item.wholesale_price) }}
                    </template>
                    <template v-slot:item.retail_price="{ item }">
                        {{ roundNum(item.retail_price) }}
                    </template>
                    <template v-slot:item.stock="{ item }">
                        <span :class="{'green--text': !!item.count, 'red--text text--darken-4': !item.count}">
                            {{ item.count }}
                        </span>
                    </template>
                    <template v-slot:item.status="{ item }">
                        <v-switch
                            v-model="item.status"
                            color="success"
                            hide-details
                            class="mt-0"
                            @change="save(item)"
                        ></v-switch>
                    </template>
                    <template v-slot:item.actions="{ item }">

<!--                            <v-col class="my-3">-->
<!--                                <v-btn color="success"-->
<!--                                       :disabled="!item.count"-->
<!--                                       small-->
<!--                                       @click="addProductToCart(item)">-->
<!--                                    <v-icon style="width: 24px"-->
<!--                                            small-->
<!--                                            color="white">-->
<!--                                        mdi-plus-circle-->
<!--                                    </v-icon>-->
<!--                                    to order-->
<!--                                </v-btn>-->
<!--                            </v-col>-->

                                <v-btn icon
                                       v-if="item.images.length"
                                       @click="showProductImages(item)">
                                    <v-icon>mdi-image-search</v-icon>
                                </v-btn>

                                <v-btn icon
                                       @click="editProduct(item)">
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>

                                <v-btn icon
                                       @click="deleteProduct(item)">
                                    <v-icon>mdi-delete</v-icon>
                                </v-btn>

                    </template>
                </v-data-table>
            </v-col>

        </v-row>

        <v-row v-if="$vuetify.breakpoint.smAndDown">
            <v-switch
                v-model="showOnlyInStock"
                label="Show only in stock"
                color="success"
                hide-details
                @change="getProducts(page)"
            ></v-switch>
            <v-col cols="12" md="3" class="productItem"
                   v-for="(product, index) in productList"
                   :key="index">
                <v-row>
                    <v-col cols="12">
                        <v-divider></v-divider>
                    </v-col>
                </v-row>
                <v-row noGutters>
                    <v-col cols="12" class="py-0 imageBlock"
                           v-if="product.images.length"
                           @click="showProductImages(product)">
                        <img
                                :src="`${imgPath}/${product.id}/images/${product.images[0].slug}`"
                                width="100%"
                        >
                    </v-col>
                    <v-col v-else cols="12" class="pt-0 mb-8 mt-4">
                        <v-col cols="12"
                               class="grey lighten-2 noImageBlock d-flex">
                            <v-col cols="12" class="align-self-center pa-0 text-center text-h6 grey--text text--lighten-5">
                                no image
                            </v-col>
                        </v-col>
                    </v-col>
                    <v-col cols="4">Title EN:</v-col><v-col cols="8">{{ product.title_en }}</v-col>
                    <v-col cols="4">Title RU:</v-col><v-col cols="8">{{ product.title_ru }}</v-col>
                    <v-col cols="4">Опт:</v-col><v-col cols="8">{{ roundNum(product.wholesale_price) }} грн</v-col>
                    <v-col cols="4">Розница:</v-col><v-col cols="8">{{ roundNum(product.retail_price) }} грн</v-col>
                    <v-col cols="12" v-if="loggedUser.group === 1"
                           class="mt-8">
                        <v-btn @click="editProduct(product)"
                               large
                               block
                               dark
                               color="green darken-1"
                               v-if="loggedUser.group === 1">
                            <v-icon>mdi-playlist-edit</v-icon>
                            Изменить
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>


        <div class="text-center my-5">
            <v-pagination
                    v-model="page"
                    :length="totalPages"
                    @input="getProducts"
            ></v-pagination>
        </div>

        <product-item
                v-if="productForEdit"
                :product="productForEdit"
        >
        </product-item>

        <v-dialog v-model="imagesPopup"
                  max-width="600"
                  scrollable>
            <v-card>
                <v-carousel>
                    <v-carousel-item
                            v-for="(image, i) in productDetails.images"
                            :key="i"
                            :src="`${imgPath}/${productDetails.id}/images/${image.slug}`"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                    >
                    </v-carousel-item>
                </v-carousel>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script lang="ts" src="./product.list.controller.ts"></script>
<style lang="scss" src="./product.list.scss"></style>
<style lang="scss" src="./product.list.scoped.scss" scoped></style>
