input[type=file] {
    display: none;
}


.imageWrapper {
    width: 100%;
    height: 200px;
    border: 4px #c3c3c3 dashed;
    font-weight: 500;
    text-align: center;
    display: flex;
    box-shadow: 0 0 5px #c3c3c3;
    border-radius: 16px;
    position: relative;


    i {
        font-size: 70px !important;
    }


    .noImage {
        line-height: 70px;

        &.activeImage {
            position: absolute;
            color: #fff;
            background: #ffffff87;
            left: calc(10% - 0px);
            top: 20px;
            width: calc(80% + 1px);
            height: 160px;
            text-align: center;
            border: 1px #000 solid;
            border-radius: 10px;
            padding-top: 29px;

            .row {
                display: inline-flex;
                vertical-align: top;
            }
        }
    }
}

img {
    width: 100%;
    height: 100%;
}

.productImages {
    position: relative;
    display: inline-block;

    .removeProductImage {
        position: absolute;
        right: -18px;
        top: -18px;
        background-color: #fff;
        z-index: 1;
    }
}
