<template>
    <v-container class="fullWidth px-4 pt-4">

        <input type="file"
               ref="file"
               accept="image/*"
               multiple
               @change="prepareNewFiles()">


        <v-row class="px-3">
            <v-col cols="3">Add new image:</v-col>
            <v-col cols="9" class="imageWrapper align-center justify-center" @click="openUploadFileModal()">
                <div class="noImage">
                    <v-icon>
                        mdi-image-plus
                    </v-icon>
                    <v-row class="text-subtitle-1 grey--text text--darken-1">
                        Нажмите, чтобы загрузить фото
                    </v-row>
                </div>
            </v-col>
        </v-row>
        <v-row class="mt-10">
            <v-col cols="3">Product images:</v-col>
            <v-col cols="9" class="pt-0">
                <v-row noGutters>
                    <vue-nestable v-model="entity.images"
                                  keyProp="slug"
                                  class="draggableImages"
                                  :maxDepth="1"
                                  @change="sortList(entity.images)">
                        <vue-nestable-handle
                            slot-scope="{ item, index }"
                            :item="item"
                            :class="'productImages'">
                            <v-btn icon
                                   class="removeProductImage"
                                   @click="removeImage(index)">
                                <v-icon large color="#272727">
                                    mdi-close-circle
                                </v-icon>
                            </v-btn>
                            <img :src="item.link || `${imgPath}/${entity.id}/images/${item.slug}`">
                        </vue-nestable-handle>
                    </vue-nestable>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts" src="./uploadImage.controller.ts"></script>
<style lang="scss" scoped src="./uploadImage.scoped.scss"></style>
