<template>
    <v-container>
        <v-tabs top
                :vertical="$vuetify.breakpoint.mdAndUp">
            <v-tab>Wholesales</v-tab>

            <v-tab-item><wholesales-config></wholesales-config></v-tab-item>
            <v-tab-item>lollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollol</v-tab-item>
            <v-tab-item>lollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollollollollol lollollol</v-tab-item>
        </v-tabs>
    </v-container>
</template>

<script lang="ts">
import WholesalesConfig from "@/components/config/wholesales/wholesales.config.vue";
import MassiveCreation from "@/components/massiveCreation/massiveCreation.vue";

const EventBus = require('@/plugins/eventBus').default;
import Core from '@/components/core/core.controller';
import Component from 'vue-class-component';
import {mapState} from "vuex";

@Component({
    components: {
        'wholesales-config': WholesalesConfig,
        'massive-creation': MassiveCreation
    },
    computed: mapState(['isUserLogged'])
})
export default class UserLogout extends Core {
    tab: number = 0;

    mounted() {
        `EventBus.$emit('showLoader', false);`
    }
}
</script>

<style lang="scss">
    .v-tabs.v-tabs--vertical .v-tabs-bar {
      background: none;

      &__content {
        border-bottom: 1px #e0e0e0 solid;
        border-right: 2px #e0e0e0 solid;
        border-left: 1px #e0e0e0 solid;
        margin-right: 8px;

        .v-tab {
          border-bottom: 1px #e0e0e0 solid;

          &--active {
            background: #313131;
            color: #fff;
            box-shadow: 2px 2px 5px #000 inset;
            transition: all 300ms;
          }

          &s-slider-wrapper {
            color: #fff;
          }
        }
      }
    }
</style>
