<template>
    <v-app>
        <router-view/>

        <v-snackbar
                top
                right
                :color="messageType"
                v-model="showMessage"
        >
            {{ messageText }}
        </v-snackbar>

        <v-overlay v-if="showLoader">
            <v-progress-circular
                    :size="70"
                    :width="15"
                    color="white"
                    indeterminate
            ></v-progress-circular>
        </v-overlay>
    </v-app>
</template>

<script lang="ts" src="./app.controller.ts"></script>
<style lang="scss" src="./app.scss"></style>
