.v-overlay.v-overlay--active {
 z-index: 999;
}

.row  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.v-btn {
    &.text-left {
        .v-btn__content {
            justify-content: left;
        }
    }
}

.flex {
    flex: 1 0 auto !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 43px;

    &.xs12 {
        width: 100%;
    }
}


.layout {
    flex-wrap: wrap !important;
}

.container {
    padding: 0 !important;
    max-width: calc(100% - 24px) !important;

    &.fullWidth {
        max-width: 100% !important;
    }
}

.tableHeader {
    background-color: #a9a9a9 !important;

    button {
        color: #fff !important;
    }
}

.v-expansion-panel-header--active {
    background-color: #eaeaea;
}

.v-tabs {
    height: 100%;

    .v-tabs-bar__content {
        border-bottom: 2px rgb(224 224 224) solid;
    }

    .v-tabs-slider-wrapper {
        margin-bottom: -2px !important;
    }

    .v-slide-group__wrapper {
        margin-bottom: -1px;
    }
}

#line-chart {
    display: inline-block !important;
}

.deleteButton {
    &:hover {
        i {
            color: #ff5252 !important;
        }
    }
}

.hidden {
    display: none !important;
}

.v-autocomplete__content {
    .v-list-item__title {
        white-space: normal;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        //max-width: calc(100% - 10px) !important;
    }

    #line-chart {
        width: calc(100% - 40px) !important;
        height: 150px !important;
    }

    .deleteButton {
        i {
            color: #ff5252 !important;
        }
    }

    .v-stepper__items {
        height: 100%;

        .v-stepper__wrapper,
        .v-stepper__content {
            height: 100%;
        }

        .v-data-footer__pagination {
            margin: 0 10px !important;
        }
    }
}

.relative {
    position: relative;
}

.rightBorder {
    border-right: 1px rgba(0,0,0,.12) solid;
}

.bottomBorder {
    border-bottom: 1px rgba(0,0,0,.12) solid;
}

.textfieldWithHint {
    .v-messages {
        &__message {
            color: #B71C1C;
        }
    }
}