<template>
    <v-container class="pb-4">
        <v-data-table
                class="elevation-1 mt-4"
                :class="{'mx-2': $vuetify.breakpoint.mdAndUp}"
                :headers="tableHeaders"
                :items="wholesaleConfig">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Wholesales configuration</v-toolbar-title>
                    <v-divider
                            class="mx-4"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn
                            color="primary"
                            dark
                            class="mb-2"
                            @click="openPopup()"
                    >
                        New Item
                    </v-btn>

                    <v-dialog
                            v-model="dialog"
                            max-width="500px"
                    >
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">New item</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col
                                                cols="12"
                                                sm="6"
                                                md="4"
                                        >
                                            <v-text-field
                                                    v-model="editedItem.name"
                                                    label="Title"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col
                                                cols="12"
                                                sm="6"
                                                md="4"
                                        >
                                            <v-text-field
                                                    v-model="editedItem.percentage"
                                                    label="Wholesales Percentage (%)"
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        color="blue darken-1"
                                        text
                                        @click="dialog = false;"
                                >
                                    Cancel
                                </v-btn>
                                <v-btn
                                        color="blue darken-1"
                                        text
                                        @click="saveForm"
                                >
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
<!--                    <v-dialog v-model="dialogDelete" max-width="500px">-->
<!--                        <v-card>-->
<!--                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>-->
<!--                            <v-card-actions>-->
<!--                                <v-spacer></v-spacer>-->
<!--                                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>-->
<!--                                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>-->
<!--                                <v-spacer></v-spacer>-->
<!--                            </v-card-actions>-->
<!--                        </v-card>-->
<!--                    </v-dialog>-->
                </v-toolbar>
            </template>

            <template v-slot:item.actions="{ item }">
                <v-icon
                        small
                        class="mr-2"
                        @click="openPopup(item)"
                >
                    mdi-pencil
                </v-icon>
<!--                <v-icon-->
<!--                        small-->
<!--                        @click="deleteItem(item)"-->
<!--                >-->
<!--                    mdi-delete-->
<!--                </v-icon>-->
            </template>
        </v-data-table>

<!--        <v-form @submit.prevent="saveForm"-->
<!--                v-model="formValid"-->
<!--                ref="form">-->
<!--            <v-text-field-->
<!--                    type="number"-->
<!--                    :rules="[wholesaleValidField(wholesaleConfig[index].percentage, index)]"-->
<!--                    v-for="(wholesale, index) in wholesaleConfig"-->
<!--                    :key="index"-->
<!--                    v-model="wholesale.percentage"-->
<!--                    :label="`Опт${index+1}`"-->
<!--                    validate-on-blur-->
<!--            ></v-text-field>-->
<!--            <v-btn type="submit">-->
<!--                lol-->
<!--            </v-btn>-->
<!--        </v-form>-->
    </v-container>
</template>

<script lang="ts" src="./wholesales.config.controller.ts"></script>