<template>
    <v-layout>
        <v-navigation-drawer
            v-model="productModal"
            temporary
            right
            fixed
            :width="$vuetify.breakpoint.mdAndUp? '50%' : '100%'"
        >
            <v-card height="100%">
                <v-card-title flat
                              dark
                              color="#272727"
                >
                    {{ !product.id ? 'Create': 'Edit'}} product
                    <v-spacer></v-spacer>

                    <v-btn dark icon @click="productModal = false">
                        <v-icon>
                            mdi-window-close
                        </v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-stepper v-model="productModalTab">
                        <v-stepper-header>
                            <v-stepper-step
                                    :complete="productModalTab > 1 || !!product.id"
                                    :step="1"
                                    editable
                            >
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step
                                    :complete="productModalTab > 2 || !!product.id"
                                    :step="2"
                                    :editable="productModalTab > 1 || !!product.id"
                            >
                            </v-stepper-step>

                            <v-divider></v-divider>

                            <v-stepper-step
                                    :step="3"
                                    :editable="productModalTab > 2 || !!product.id"
                                    :complete="!!product.id"
                            >
                            </v-stepper-step>
                        </v-stepper-header>

                        <v-stepper-items>
                            <v-stepper-content :step="1" class="px-0">
                                <v-form @submit.prevent="validateFirstStep"
                                        ref="form"
                                        v-model="formValid">
                                    <v-col sm="12">
                                        <v-row>
                                            <v-col cols="12" class="text-h6 text-uppercase">
                                                Title
                                            </v-col>
                                        </v-row>
                                        <v-sheet border color="#f5f5f5" class="pa-2">
                                            <v-row>
                                                <v-col cols="2" class="pt-4 text-center px-0">
                                                    <v-icon>fi-ua flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col cols="10" class="py-0">
                                                    <v-textarea
                                                        rows="1"
                                                        auto-grow
                                                        v-model="product.title_ua"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                    </v-textarea>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="2" class="pt-4 text-center">
                                                    <v-icon>fi-ru flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col cols="10" class="py-0">
                                                    <v-textarea
                                                        rows="1"
                                                        auto-grow
                                                        v-model="product.title_ru"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                    </v-textarea>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="2" class="pt-4 text-center">
                                                    <v-icon>fi-gb flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col cols="10" class="py-0">
                                                    <v-textarea
                                                        rows="1"
                                                        auto-grow
                                                        v-model="product.title_en"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                    </v-textarea>
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="2" class="pt-4 text-center">
                                                    <v-icon>fi-gr flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col cols="10" class="py-0">
                                                    <v-textarea
                                                        rows="1"
                                                        auto-grow
                                                        v-model="product.title_gr"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                    </v-textarea>
                                                </v-col>
                                            </v-row>
                                        </v-sheet>
                                        <v-row>
                                            <v-col cols="12" class="text-h6 text-uppercase">
                                                Description
                                            </v-col>
                                        </v-row>
                                        <v-sheet border color="#f5f5f5" class="pa-2">
                                            <v-row>
                                                <v-col sm="2" class="pt-4 text-center">
                                                    <v-icon>fi-ua flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col sm="10">
                                                    <wysiwyg v-model="product.description_ua" />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col sm="2" class="pt-4 text-center">
                                                    <v-icon>fi-ru flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col sm="10">
                                                    <wysiwyg v-model="product.description_ru" />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col sm="2" class="pt-4 text-center">
                                                    <v-icon>fi-gb flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col sm="10">
                                                    <wysiwyg v-model="product.description_en" />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col sm="2" class="pt-4 text-center">
                                                    <v-icon>fi-gr flag-icon-squared</v-icon>
                                                </v-col>
                                                <v-col sm="10">
                                                    <wysiwyg v-model="product.description_gr" />
                                                </v-col>
                                            </v-row>
                                        </v-sheet>
                                        <v-row>
                                            <v-col sm="12" class="py-0">
                                                <v-text-field
                                                        type="number"
                                                        step=".01"
                                                        v-model="product.wholesale_price"
                                                        label="Оптовая цена"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col sm="12" class="py-0">
                                                <v-text-field
                                                        type="number"
                                                        step=".01"
                                                        v-model="product.retail_price"
                                                        label="Розничная цена"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле">
                                                </v-text-field>
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-select
                                                        v-model="product.supplier_id"
                                                        :label="'Поставщик'"
                                                        :items="suppliers"
                                                        item-text="title"
                                                        item-value="id"
                                                        :rules="[rules.required]"
                                                        required
                                                        hint="Обязательное поле"></v-select>
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                </v-form>
                            </v-stepper-content>

                            <v-stepper-content :step="2" class="px-0">
                                <upload-image :entity="product"></upload-image>
                            </v-stepper-content>

                            <v-stepper-content :step="3" class="px-5">
                                <catalog
                                        :select-category="selectCategory"
                                        :select-category-id="product.category_id"
                                ></catalog>
                            </v-stepper-content>

                        </v-stepper-items>
                    </v-stepper>

                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions class="modalActions">
                    <v-btn color="red lighten-2"
                           dark
                           outlined text
                           @click="productModal = false;"
                    >
                        Отмена
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn @click="saveProduct"
                           color="success"
                           :disabled="!product.category_id"
                    >
                        Сохранить
                    </v-btn>
                    <v-btn color="primary"
                           @click="validateForm()"
                           :disabled="!formValid || productModalTab === 3"
                    >
                        Продолжить
                        <v-icon>mdi-chevron-right</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-navigation-drawer>
    </v-layout>
</template>

<script lang="ts" src="./product.item.controller.ts"></script>
<style lang="scss" src="./product.item.scoped.scss"  scoped></style>
