.v-sheet.v-stepper:not(.v-sheet--outlined) {
    overflow: auto;
    height: 100%;
    box-shadow: none;

    .v-stepper__header {
        z-index: 1;
        background-color: #fff;
        position: relative;
    }


}


.v-card {
    &__title {
        background-color: #272727;
        color: #fff;
    }

    &__text {
        height: calc(100% - 120px);
        padding: 0 !important;
    }
}

