.requiredIcon {
    color: #ff5252;
}

.shopInfo {
    background-color: #ECEFF1;
    border: 1px #CFD8DC solid;
    color: #263238;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.orderSummary {
    background-color: #fafafa;
    border: 1px #e0e0e0 solid;
    color: #646464;
    font-size: 14px;
}

.bottomBorder {
    &:last-child {
        border: 0;
    }
}

.v-btn--icon.v-size--x-small .v-icon {
    font-size: 24px;
}

.productCount {
    margin-top: 2px;
    padding-top: 0;
}