<template>
    <v-container class="pt-1">
        <v-toolbar
                flat
        >
            <v-toolbar-title class="text-h4"
                             :class="{'text-h6': $vuetify.breakpoint.mdAndDown}">
                Checkout
            </v-toolbar-title>
        </v-toolbar>

        <v-card class="pt-1" v-if="order">
            <v-select v-model="order.price_id"
                      class="mx-4"
                      :items="salesType"
                      label="Sales type"
                      item-text="name"
                      item-value="id"
                      @input="updatePrices()">

            </v-select>
            <v-sheet class="orderSummary ma-4">
                <div>
                    <v-row no-gutters class="py-2 mx-4 bottomBorder font-weight-medium">
                        <v-col cols="4" sm="6" class="pl-1">
                            Title
                        </v-col>
                        <v-col cols="3" sm="1" class="text-center">
                            Count
                        </v-col>
                        <v-col cols="2" class="text-center">
                            Price
                        </v-col>
                        <v-col cols="2" class="text-center">
                            Total
                        </v-col>
                        <v-col cols="1"></v-col>
                    </v-row>
                    <v-row v-for="(product, i) in order.products"
                           :key="i"
                           no-gutters
                           class="py-3 mx-4 bottomBorder font-weight-light align-center">
                        <v-col cols="4" sm="6" class="pl-2">
                            {{ product.details.title_en }}
                        </v-col>
                        <v-col cols="3" sm="1" class="text-center">
                            <v-text-field
                                    v-model="product.count"
                                    type="number"
                                    readonly
                                    hide-details
                                    class="productCount"
                            >
                                <template v-slot:prepend="" class="lol">
                                    <v-btn icon
                                           dense
                                           x-small
                                           :disabled="product.count === 1"
                                           @click="product.count--"
                                           class="pt-1">
                                        <v-icon
                                                dense
                                                color="error"
                                        >
                                            mdi-minus
                                        </v-icon>
                                    </v-btn>
                                </template>

                                <template v-slot:append-outer>
                                    <v-btn icon
                                           class="pt-1"
                                           x-small
                                           @click="product.count++">
                                        <v-icon
                                                color="success">
                                            mdi-plus
                                        </v-icon>
                                    </v-btn>
                                </template>
                            </v-text-field>
                        </v-col>
                        <v-col cols="2" class="text-center align-center justify-center">
                            {{ product.price }}
                        </v-col>
                        <v-col cols="2" class="font-weight-medium text-center">
                            {{ product.price * product.count }}
                        </v-col>
                        <v-col cols="1">
                            <v-hover
                                    v-slot="{ hover }"
                            >
                                <v-btn icon
                                       small
                                       :class="{'on-hover': hover}"
                                       @click="removeProduct(i)"
                                >
                                    <v-icon
                                            small
                                    >
                                        mdi-close
                                    </v-icon>
                                </v-btn>
                            </v-hover>
                        </v-col>
                    </v-row>
                </div>

                <v-divider></v-divider>
                <v-row no-gutters class="py-2 pl-3"
                       v-if="order.products">
                    <v-col class="text-h5 pl-2">Total: {{ cartSum }}</v-col>
                </v-row>
            </v-sheet>

            <v-stepper v-model="step" vertical class="elevation-0">
                <v-stepper-step
                        :complete="step > 1"
                        step="1"
                        editable
                >
                    Contact information
                </v-stepper-step>

                <v-stepper-content step="1">
                    <v-col cols="12" class="pt-0">
                        <v-form @submit.prevent="step = 2"
                                v-model="successSteps.first">
                            <v-row>
                                <v-text-field v-model="order.first_name"
                                              label="First name"
                                              :rules="[rules.required]">
                                    <template v-slot:prepend="">
                                        <div class="requiredIcon">
                                            *
                                        </div>
                                    </template>
                                </v-text-field>
                            </v-row>
                            <v-row>
                                <v-text-field v-model="order.last_name"
                                              label="Last name"
                                              :rules="[rules.required]">
                                    <template v-slot:prepend="">
                                        <div class="requiredIcon">
                                            *
                                        </div>
                                    </template>
                                </v-text-field>
                            </v-row>
                            <v-row>
                                <v-text-field v-model="order.phone"
                                              label="Phone"
                                              :rules="[rules.required]"
                                              hint="Example: +1(111)111-11-11">
                                    <template v-slot:prepend="">
                                        <div class="requiredIcon">
                                            *
                                        </div>
                                    </template>
                                </v-text-field>
                            </v-row>
                            <v-row>
                                <v-btn class="success"
                                       type="submit"
                                       :disabled="!successSteps.first">Продолжить</v-btn>
                            </v-row>
                        </v-form>
                    </v-col>
                </v-stepper-content>


                <v-stepper-step
                        :complete="step > 2"
                        step="2"
                        :editable="order && !!order.first_name && !!order.last_name && !!order.phone"
                >
                    Доставка
                </v-stepper-step>

                <v-stepper-content step="2">
                    <v-col cols="12" class="pt-0">
                        <v-form @submit.prevent="step = 3"
                                v-model="successSteps.second">
                            <v-sheet>
                                <v-row>
                                    <v-select
                                            :items="countries"
                                            v-model="order.country"
                                            label="Country"
                                            item-text="name"
                                            item-value="code"
                                    >
                                        <template v-slot:prepend="">
                                            <div class="requiredIcon">
                                                *
                                            </div>
                                        </template>
                                    </v-select>
                                </v-row>
                                <v-row>
                                    <v-text-field v-model="order.city"
                                                  :disabled="!order.country"
                                                  label="City"
                                                  :rules="[rules.required]">
                                        <template v-slot:prepend="">
                                            <div class="requiredIcon">
                                                *
                                            </div>
                                        </template>
                                    </v-text-field>
                                </v-row>
                                <v-row>
                                    <v-text-field v-model="order.address"
                                                  :disabled="!order.country"
                                                  label="Address"
                                                  :rules="[rules.required]">
                                        <template v-slot:prepend="">
                                            <div class="requiredIcon">
                                                *
                                            </div>
                                        </template>
                                    </v-text-field>
                                </v-row>
                            </v-sheet>
                            <v-row>
                                <v-btn class="success"
                                       type="submit"
                                       :disabled="!successSteps.second">Продолжить</v-btn>
                            </v-row>
                        </v-form>
                    </v-col>
                </v-stepper-content>

                <v-stepper-step step="3">
                    Оплата
                </v-stepper-step>

                <v-stepper-content step="3">
                    <v-radio-group
                            v-model="order.payment_type"
                            class="mt-0">
                        <v-radio
                                v-for="(payment, index) in paymentOption"
                                :key="index"
                                :label="payment.title"
                                :value="payment.id"
                        ></v-radio>
                    </v-radio-group>
                    <v-btn class="success"
                           :disabled="order.payment_type === '' || success"
                           @click="confirmOrder">
                        <v-icon dark>
                            mdi-check-circle-outline
                        </v-icon>
                        Подтвердить заказ
                    </v-btn>
                </v-stepper-content>
            </v-stepper>
        </v-card>

        <v-dialog
                persistent
                v-model="success"
                width="300"
                v-if="order"
        >
            <v-card class="text-center">
                <v-card-title class="headline d-inline-block">
                    Ваш заказ № <span class="font-weight-bold">{{ order.id }}</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="text-subtitle-2 pt-3">
                    <v-row>
                        Мы с Вами свяжемся в ближайшее время.
                    </v-row>
                    <v-row class="justify-center pt-3">
                        <v-btn to="dashboard" class="success">
                            Продолжить покупки
                        </v-btn>
                    </v-row>

                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script lang="ts" src="./checkout.controller.ts"></script>
<style lang="scss" src="./checkout.scoped.scss" scoped></style>
