<template>
    <v-container class="fullWidth">
        <v-tabs color="black"
                background-color="white"
                v-if="loggedUser"
                v-model="activeTab">
            <v-tabs-slider color="black"></v-tabs-slider>

            <v-tab
                    link
                    :to="{name: 'warehouse.stock'}">
                Stocks
            </v-tab>
            <v-tab
                    link
                    :to="{name: 'warehouse.supplies.list'}">
                Supplies
            </v-tab>
            <v-tab
                    link
                    :to="{name: 'warehouse.suppliers'}">
                Suppliers
            </v-tab>
        </v-tabs>

        <router-view/>
    </v-container>

</template>

<script lang="ts" src="./warehouse.controller.ts"></script>
<style lang="scss" scoped>
    .v-tabs {
        height: auto;
    }
</style>