<template>
    <v-container fill-height :class="{'': $vuetify.breakpoint.mdAndUp}">
        <v-card
                class="mx-auto"
                :class="{'my-auto': $vuetify.breakpoint.mdAndUp}"
                align="center"
                :elevation="$vuetify.breakpoint.mdAndUp? 5: 0"
                width="344">
            <v-card-title class="headline px-4 pt-4 pb-0">
                Профиль пользователя
            </v-card-title>
            <v-card-text>
                <v-form ref="form"
                        @submit.prevent="saveUser"
                        v-model="formValid"
                        v-if="user">
                    <v-row>
                        <v-col xs="12">
                            <v-text-field label="Логин"
                                          v-model="user.email"
                                          required
                                          :disabled="!!id"
                                          :rules="[rules.required]"
                                          prepend-inner-icon="mdi-at"
                                          hint="Обязательное поле">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col xs="12">
                            <v-text-field label="Имя"
                                          v-model="user.name"
                                          required
                                          :rules="[rules.required]"
                                          prepend-inner-icon="mdi-account"
                                          hint="Обязательное поле">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col xs="12">
                            <v-autocomplete
                                    label="Группа"
                                    v-model="user.group"
                                    :items="groups"
                                    :loading="isLoading"
                                    :item-text="'title'"
                                    :item-value="'id'"
                                    prepend-inner-icon="mdi-account-group">
                            </v-autocomplete>
                        </v-col>
                    </v-row>
                    <v-row v-if="!id || id === 'me'">
                        <v-col xs="12">
                            <v-text-field label="Пароль"
                                          type="password"
                                          v-model="user.password"
                                          :required="!user.id"
                                          :rules="!user.id? [rules.required]: undefined"
                                          prepend-inner-icon="mdi-lock"
                                          :hint="!user.id? 'Обязательное поле' : ''">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col :cols="id === 'me'? 6: 12">
                            <v-btn type="submit" color="primary" large
                                   :disabled="!formValid">
                                <v-icon>mdi-content-save</v-icon>
                                Сохранить
                            </v-btn>
                        </v-col>
                        <v-col cols="6">
                            <v-btn to="/logout" large color="red lighten-1"
                                   v-if="id === 'me'"
                                   :dark="!!user.id"
                                   :disabled="!user.id">
                                <v-icon>mdi-exit-run</v-icon>
                                Выйти
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script lang="ts" src="./user.profile.controller.ts"></script>
