<template>
    <v-container>
        <v-col sm="12">
            <v-row>
                <v-text-field
                        v-model="filter" clearable
                        append-icon="mdi-magnify">
                </v-text-field>
            </v-row>
        </v-col>
        <v-expansion-panels sm="12" accordion>
            <v-expansion-panel class="tableHeader" readonly>
                <v-expansion-panel-header>
                    <v-col sm="12" class="pa-0">
                        <v-row no-gutters>
                            <v-col md="8" sm="11">
                                Имя
                            </v-col>
                        </v-row>
                    </v-col>

                    <template v-slot:actions>
                        <v-btn x-small color="success"
                               @click="editUser()">
                            add
                            <v-icon style="width: 24px"
                                    small
                                    color="white">
                                mdi-plus-circle
                            </v-icon>
                        </v-btn>
                    </template>
                </v-expansion-panel-header>
            </v-expansion-panel>
            <v-expansion-panel v-for="(user, index) in userList"
                               :key="index"
                               v-if="!filter || !filter.length || user.nickname.toLowerCase().indexOf(filter.toLowerCase()) !== -1">
                <v-expansion-panel-header>
                    <v-col sm="12" class="pa-0">
                        <v-row no-gutters>
                            <v-col sm="12">
                                {{ user.nickname }}
                            </v-col>
                        </v-row>
                    </v-col>
                    <template v-slot:actions v-if="$vuetify.breakpoint.mdAndUp">
                        <v-icon :size="52" style="width: 24px"></v-icon>
                    </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-col sm="12">
                        <v-row>
                            <v-col sm="6">Имя</v-col>
                            <v-col sm="6">{{ user.name }}</v-col>
                        </v-row>
                        <v-row>
                            <v-col sm="6">Email</v-col>
                            <v-col sm="6">{{ user.email }}</v-col>
                        </v-row>
                        <v-row>
                            <v-col sm="6">
                                <v-btn @click="editUser(user.id)">
                                    Изменить
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </v-container>
</template>

<script lang="ts" src="./user.list.controller.ts"></script>
<style lang="scss" src="./user.list.scoped.scss" scoped></style>
