<template>
    <v-container fluid mt-3>
        <v-row align="center" justify="center">
        </v-row>
            <fusioncharts
                    :type="type"
                    :width="width"
                    :height="height"
                    :dataFormat="dataFormat"
                    :dataSource="dataSource"
            ></fusioncharts>
        <v-text-field type="number" v-model="progress" label="progress" max="100"></v-text-field>
        <v-text-field type="number" v-model="progressHeight" label="height" max="100"></v-text-field>
        <v-text-field type="string" v-model="progressWidth" label="width" max="100"></v-text-field>
        <progress-bar
            class="mb-10"
            :progress="progress"
            :height="progressHeight"
            :width="progressWidth"
        ></progress-bar> <!-- background-color & color are optional -->
    </v-container>
</template>

<script lang="ts" src="./dashboard.controller.ts"></script>
<style lang="scss" src="./dashboard.scoped.scss" scoped></style>
