﻿<template>
    <v-container>
        <v-row>
            <v-col class="text-h4 pl-5">
                Catalog
            </v-col>

            <v-spacer></v-spacer>

            <v-col class="text-right">
                <v-btn @click="openEditCategoryPopup"
                       fab
                       dark
                       small
                       color="success">
                    <v-icon dark>
                        mdi-text-box-plus-outline
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-divider></v-divider>

        <v-btn dark
               x-small
               color="primary"
               @click="saveStructure">Сохранить</v-btn>

        <vue-nestable v-model="catalog" class="my-5 py-5"
                      @change="structureUpdated(catalog)">
            <vue-nestable-handle
                    slot-scope="{ item }"
                    :item="item">
                <v-hover
                        v-slot="{ hover }"
                >
                    <v-row no-gutters>
                        <v-col cols="6" :class="{'disabled_category': !item.status}">
                            {{ item.title_en }}
                        </v-col>
                        <v-col cols="6" class="text-right">
                            <v-btn @click="openEditCategoryPopup(item)"
                                   :class="{'on-hover': hover}"
                                   class="edit-button mr-2"
                                   fab
                                   dark
                                   small
                                   color="success">
                                <v-icon dark>
                                    mdi-text-box-edit-outline
                                </v-icon>
                            </v-btn>
                            <v-btn @click="deleteItem(item)"
                                   :class="{'on-hover': hover}"
                                   class="edit-button"
                                   fab
                                   dark
                                   small
                                   color="red darken-4">
                                <v-icon dark>
                                    mdi-delete-circle
                                </v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-hover>
            </vue-nestable-handle>
        </vue-nestable>

        <v-navigation-drawer
                v-model="categoryPopup"
                fixed
                right
                temporary
                width="400"
                @input="categoryPopupOpened"
        >
            <v-form @submit.prevent="saveEditForm"
                    ref="form"
                    v-model="formValid">
                <v-row no-gutters>
                    <v-col cols="2" class="pt-4 text-center">
                        <v-icon>fi-gb flag-icon-squared</v-icon>
                    </v-col>
                    <v-col sm="10">
                        <v-text-field
                            label="Title"
                            v-model="categoryForEdit.title_en">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="2" class="pt-4 text-center">
                        <v-icon>fi-ua flag-icon-squared</v-icon>
                    </v-col>
                    <v-col sm="10">
                        <v-text-field
                            label="Title"
                            v-model="categoryForEdit.title_ua">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="2" class="pt-4 text-center">
                        <v-icon>fi-ru flag-icon-squared</v-icon>
                    </v-col>
                    <v-col sm="10">
                        <v-text-field
                            label="Title"
                            v-model="categoryForEdit.title_ru">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col cols="2" class="pt-4 text-center">
                        <v-icon>fi-gr flag-icon-squared</v-icon>
                    </v-col>
                    <v-col sm="10">
                        <v-text-field
                            label="Title"
                            v-model="categoryForEdit.title_gr">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-col cols="12">
                    <v-row>
                        <v-col>Logo:</v-col>
                    </v-row>
                    <v-row no-gutters class="avatar-selector">
                        <v-col cols="12">
                            <v-row no-gutters>
                                <v-col cols="3"
                                       v-for="(image, index) in logos"
                                       :key="index">
                                    <v-img :src="`${imgPath}/${image.product_id}/images/${image.slug}`"
                                           class="image-preview"
                                           :class="{'active': categoryForEdit.icon === `${image.product_id}/images/${image.slug}`}"
                                           @click="selectAvatar(image)"></v-img>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="12" v-if="!categoryForEdit.children.length">
                    <v-text-field
                        label="Brand Name"
                        v-model="categoryForEdit.brand_name">
                    </v-text-field>
                </v-col>
                <v-col sm="12">
                    <v-text-field
                            label="% margin at supply for wholesale price"
                            v-model="categoryForEdit.category_wholesale_price_percantage">
                    </v-text-field>
                </v-col>
                <v-col sm="12">
                    <v-text-field
                            label="% margin at supply for retail price"
                            v-model="categoryForEdit.category_retail_price_percantage">
                    </v-text-field>
                </v-col>
                <v-col sm="12" v-if="!categoryForEdit.children.length">
                    <v-switch
                        v-model="categoryForEdit.status"
                        label="Status"
                        color="success"
                        hide-details
                    ></v-switch>
                </v-col>
                <v-col sm="12">
                    <v-btn @click="saveEditForm">
                        Сохранить
                    </v-btn>
                </v-col>

            </v-form>

        </v-navigation-drawer>
    </v-container>
</template>

<script lang="ts" src="./catalog.editor.controller.ts"></script>
<style lang="scss" src="./catalog.editor.scoped.scss"></style>
