<template>
    <v-container class="fullWidth pt-1">
        <v-toolbar
                flat
        >
            <v-toolbar-title class="text-h4">Suppliers</v-toolbar-title>
            <v-divider
                    class="mx-4"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn color="success"
                   @click="openCreationModal()">
                add
                <v-icon style="width: 24px"
                        small
                        color="white">
                    mdi-plus-circle
                </v-icon>
            </v-btn>
        </v-toolbar>
        <v-divider></v-divider>

        <v-row>
            <v-col cols="3" class="rightBorder">
                <v-row v-if="suppliers.length">
                    <v-col cols="12" class="pr-0">
                        <v-list-item two-line
                                     class="pr-0"
                                     :class="{'selectedSupplier': selectedSupplier === item.id}"
                                     v-for="(item, index) in suppliers"
                                     @click="selectSupplier(item.id)"
                                     :key="index">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                                <v-list-item-subtitle>{{ item.description }}</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-action>
                                <v-row>
                                    <v-col cols="3" class="pa-0 mr-1">
                                        <v-btn icon>
                                            <v-icon @click="openCreationModal(item)">mdi-pencil</v-icon>
                                        </v-btn>
                                    </v-col>
                                    <v-col cols="3" class="pa-0 mr-1">
                                        <v-btn icon
                                               @click="deleteSupplier(item)"
                                               class="deleteButton">
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-list-item-action>
                        </v-list-item>
                    </v-col>
                </v-row>
                <v-row v-else>
                    <v-col cols="12" class="pl-5">
                        <v-alert
                                border="left"
                                colored-border
                                type="warning"
                                elevation="2"
                        >
                            Нет поставщиков
                        </v-alert>
                    </v-col>
                </v-row>

                <v-divider vertical inset></v-divider>
            </v-col>

            <v-col cols="3" class="rightBorder"
                   v-if="selectedSupplier">
                <v-treeview
                        class="catalogTree"
                        :items="catalog"
                        v-model="selectedCategories"
                        item-text="title"
                        item-key="id"
                        open-on-click
                        expand-icon="mdi-chevron-down"
                        selection-type="leaf"
                        selectable
                        @input="getProducts()"
                ></v-treeview>
            </v-col>

            <v-col cols="6" class="pr-5"
                   v-if="selectedSupplier">

                <v-text-field
                        v-model="filter"
                        label="Filter"
                        clearable
                        append-icon="mdi-magnify">
                </v-text-field>

                <v-data-table
                        class="elevation-3"
                        v-model="selectedProducts"
                        :loading="productsLoading"
                        :items="products"
                        :search="filter"
                        :headers="headers"
                        hide-default-footer
                        :items-per-page="9999"
                        item-key="id"
                        :show-select="products.length > 0">
                    <template v-slot:top>
                        <v-toolbar
                                flat
                        >
                            <v-toolbar-title>Supplier: {{ supplierName }}</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-btn class="ma-3"
                                   color="success"
                                   v-show="selectedProducts.length > 0 && products.length > 0"
                                   @click="saveSelectedProducts()">
                                Save selected products
                            </v-btn>
                        </v-toolbar>
                    </template>
                    <template v-slot:footer>
                        <v-btn class="ma-3"
                               color="success"
                               v-show="selectedProducts.length > 0"
                               @click="saveSelectedProducts()">
                            Save selected products
                        </v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>


        <v-dialog
            v-model="creationModal"
            max-width="400px"
        >
            <v-card>
                <v-toolbar
                        flat
                        dark
                        color="#272727"
                >
                    <v-toolbar-title>

                        {{ !!supplierForEdit.id ? 'Редактирование' : 'Создание'}} поставщика
                    </v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-btn dark icon @click="creationModal = false">
                        <v-icon>
                            mdi-window-close
                        </v-icon>
                    </v-btn>
                </v-toolbar>
                <v-form @submit.prevent="saveSupplier"
                        ref="form"
                        v-model="supplierFormValid">
                    <v-col cols="12">
                        <v-text-field
                                v-model="supplierForEdit.title"
                                :label="'Название поставщика'"
                                :rules="[rules.required]"
                                required
                                hint="Обязательное поле"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12">
                        <v-text-field
                                v-model="supplierForEdit.description"
                                :label="'Описание'"
                        ></v-text-field>
                    </v-col>

                    <v-divider></v-divider>

                    <v-col class="text-h6"
                           v-if="supplierForEdit.id">
                        Товары поставщика
                    </v-col>

                    <v-divider v-if="supplierForEdit.id"></v-divider>

                    <v-col cols="12">
                        <v-btn type="submit"
                               :disabled="!supplierFormValid"
                               color="success">
                            Сохранить
                        </v-btn>
                    </v-col>
                </v-form>
            </v-card>
        </v-dialog>


<!--        <v-col cols="12" class="supplierProducts"-->
<!--               v-if="supplierForEdit && supplierForEdit.products && !!supplierForEdit.products.length">-->
<!--            <v-row>-->
<!--                <v-col cols="12" class="px-5 text-body-1 font-weight-bold">-->
<!--                    Название-->
<!--                </v-col>-->
<!--            </v-row>-->

<!--            <v-row v-for="(product, index) in supplierForEdit.products"-->
<!--                   :key="index">-->
<!--                <v-col cols="10" class="px-5">-->
<!--                    {{ product.title }}-->
<!--                </v-col>-->
<!--                <v-col cols="2" class="px-5">-->
<!--                    <v-btn icon @click="removeProduct(index)">-->
<!--                        <v-icon>mdi-close-circle</v-icon>-->
<!--                    </v-btn>-->
<!--                </v-col>-->
<!--            </v-row>-->
<!--        </v-col>-->

<!--        <v-col cols="12"-->
<!--               v-if="supplierForEdit.id && supplierForEdit.products && !!supplierForEdit.products.length">-->
<!--            <v-alert-->
<!--                    border="left"-->
<!--                    colored-border-->
<!--                    type="warning"-->
<!--                    elevation="2"-->
<!--            >-->
<!--                Нет добавленных товаров-->
<!--            </v-alert>-->
<!--        </v-col>-->
    </v-container>
</template>

<script lang="ts" src="./warehouse.suppliers.controller.ts"></script>
<style lang="scss" src="./warehouse.suppliers.scoped.scss" scoped></style>
<style lang="scss" src="./warehouse.suppliers.scss"></style>
