<template>
    <v-container class="fullWidth"
                 v-if="!!modal">
        <v-toolbar
                flat
                dark
                color="#272727"
        >
            <v-toolbar-title>
                Find products
            </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn dark icon @click="closeModal()">
                <v-icon>
                    mdi-window-close
                </v-icon>
            </v-btn>
        </v-toolbar>

        <v-row>
            <v-col cols="3" class="rightBorder">

                <v-row>
                    <v-col cols="6" class="px-5 text-h6">
                        Supplier
                    </v-col>
                </v-row>

                <v-row v-if="suppliers.length">
                    <v-col cols="12" class="pr-0">
                        <v-list-item two-line
                                     class="pr-0"
                                     :class="{'selectedSupplier': selectedSupplier === item.id}"
                                     v-for="(item, index) in suppliers"
                                     @click="selectSupplier(item.id)"
                                     :key="index">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                                <v-list-item-subtitle>{{ item.description }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                </v-row>
            </v-col>

            <v-col cols="3" class="rightBorder relative">
                <v-overlay
                        absolute
                        color="#fff"
                        opacity="0.8"
                        :value="!selectedSupplier"
                >
                </v-overlay>

                <v-treeview
                        ref="catalog"
                        class="catalogTree"
                        :items="catalog"
                        v-model="selectedCategories"
                        item-text="title"
                        item-key="id"
                        item-disabled="locked"
                        open-on-click
                        disable-per-node
                        expand-icon="mdi-chevron-down"
                        selectable
                        @input="getProducts()"
                ></v-treeview>
            </v-col>

            <v-col cols="6" class="pr-5 relative">
                <v-overlay
                        absolute
                        color="#fff"
                        opacity="0.8"
                        :value="!selectedSupplier"
                >
                </v-overlay>

                <v-text-field
                        v-model="filter"
                        label="Filter"
                        clearable
                        append-icon="mdi-magnify">
                </v-text-field>

                <v-data-table
                        class="elevation-3"
                        v-model="selectedProducts"
                        :loading="productsLoading"
                        :items="products"
                        :search="filter"
                        :headers="headers"
                        hide-default-footer
                        :items-per-page="9999"
                        item-key="id"
                        :show-select="products.length > 0">
                    <template v-slot:top>
                        <v-toolbar
                                flat
                        >
                            <v-toolbar-title>Supplier: {{ supplierName }}</v-toolbar-title>
                            <v-divider
                                    class="mx-4"
                                    inset
                                    vertical
                            ></v-divider>
                            <v-spacer></v-spacer>
                            <v-btn class="ma-3"
                                   color="success"
                                   v-show="selectedProducts.length > 0 && products.length > 0"
                                   @click="selectProducts()">
                                Select products
                            </v-btn>
                        </v-toolbar>
                    </template>
                    <template v-slot:footer>
                        <v-btn class="ma-3"
                               color="success"
                               v-show="selectedProducts.length > 0"
                               @click="selectProducts()">
                            Select products
                        </v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
</template>

<style lang="scss" src="../warehouse.supplies.new.scoped.scss" scoped></style>
<script lang="ts" src="./warehouse.supplies.selectProducts.controller.ts"></script>