<template>
    <v-container></v-container>
</template>

<script lang="ts">
    const EventBus = require('@/plugins/eventBus').default;
    import Core from '@/components/core/core.controller';
    import Component from 'vue-class-component';

    @Component
    export default class UserLogout extends Core {
        mounted() {
            localStorage.clear();

            this.$router.push('/login');

            EventBus.$emit('showLoader', false);
        }
    }
</script>
