<template>
    <v-container fill-height :class="{'': $vuetify.breakpoint.mdAndUp}">
        <v-card
                class="mx-auto"
                :class="{'my-auto': $vuetify.breakpoint.mdAndUp}"
                align="center"
                :elevation="$vuetify.breakpoint.mdAndUp? 5: 0"
                width="344">
            <v-card-title class="headline px-4 pt-4 pb-0">
                Authorization
            </v-card-title>
            <v-card-text>
                <v-form @submit.prevent="authorize">
                    <v-row>
                        <v-col xs="12">
                            <v-text-field label="Login"
                                          v-model="user.email"
                                          prepend-inner-icon="mdi-account">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col xs="12">
                            <v-text-field label="Password"
                                          type="password"
                                          v-model="user.password"
                                          prepend-inner-icon="mdi-lock">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col xs="12">
                            <v-btn type="submit" color="primary" large>
                                Sign in
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script lang="ts" src="./user.login.controller.ts"></script>
