<template>
    <v-container class="fullWidth pt-1">
        <v-toolbar
                flat
        >
            <v-toolbar-title class="text-h4">Supplies</v-toolbar-title>
            <v-divider
                    class="mx-4"
                    inset
                    vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-btn color="success"
                   :to="'/warehouse/supplies/new'">
                add
                <v-icon style="width: 24px"
                        small
                        color="white">
                    mdi-plus-circle
                </v-icon>
            </v-btn>
        </v-toolbar>
        <v-divider></v-divider>

        <v-row>
            <v-col cols="3" class="rightBorder">
                <v-row>
                    <v-col cols="6" class="px-5 text-h6">
                        Supplier
                    </v-col>
                </v-row>
                <v-row v-if="suppliers.length">
                    <v-col cols="12" class="pr-0">
                        <v-list-item two-line
                                     class="pr-0"
                                     :class="{'selectedSupplier': selectedSupplier === item.id}"
                                     v-for="(item, index) in suppliers"
                                     @click="selectSupplier(item.id)"
                                     :key="index">
                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                                <v-list-item-subtitle>{{ item.description }}</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-col>
                </v-row>
            </v-col>

            <v-col cols="9"
                   v-if="selectedSupplier && suppliers.length">
                <v-menu
                        v-if="selectedSupplier"
                        v-model="showCalendar"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on">
                            <template v-if="!!dateFilter">
                                {{ formatDateToRu(dateFilter[0], true) }}
                                {{ !!dateFilter[1]? ` - ${formatDateToRu(dateFilter[1], true)}`: '' }}
                            </template>
                            <template v-else>
                                Select dates
                            </template>
                        </v-btn>
                    </template>
                    <v-date-picker
                            v-model="dateFilter"
                            range
                            no-title
                            scrollable>

                    </v-date-picker>
                </v-menu>

                <v-expansion-panels
                        v-model="openedSupply"
                        v-if="supplies.length"
                        class="mt-4">
                    <v-expansion-panel
                            v-for="(supply, index) in supplies"
                            :key="index">
                        <v-expansion-panel-header>
                            {{ formatDateToRu(supply.createdAt) }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-sheet class="orderSummary mt-4">
                                <div>
                                    <v-row no-gutters class="py-2 mx-4 bottomBorder font-weight-medium">
                                        <v-col cols="3" class="pl-1">
                                            Title
                                        </v-col>
                                        <v-col cols="4" class="pl-1">
                                            Category
                                        </v-col>
                                        <v-col cols="1">
                                            Wholesale Price
                                        </v-col>
                                        <v-col cols="1">
                                            Retail Price
                                        </v-col>
                                        <v-col cols="1">
                                            Purchase Count
                                        </v-col>
                                        <v-col cols="1">
                                            Purchase Price
                                        </v-col>
                                        <v-col cols="1">
                                            Total
                                        </v-col>
                                    </v-row>
                                    <v-row v-for="(product, i) in supply.products"
                                           :key="i"
                                           no-gutters
                                           class="py-2 mx-4 bottomBorder font-weight-light">
                                        <v-col cols="3" class="pl-1">
                                            {{ getProductTitle(product.product_id) }}
                                        </v-col>
                                        <v-col cols="4" class="pl-1">
                                            {{ getProductCategory(product.product_id).title }}
                                        </v-col>
                                        <v-col cols="1">
                                            {{ product.wholesale_price }}
                                        </v-col>
                                        <v-col cols="1">
                                            {{ product.retail_price }}
                                        </v-col>
                                        <v-col cols="1">
                                            {{ product.purchase_count }}
                                        </v-col>
                                        <v-col cols="1">
                                            {{ product.purchase_price }}
                                        </v-col>
                                        <v-col cols="1" class="font-weight-medium">
                                            {{ product.purchase_price * product.purchase_count }}
                                        </v-col>
                                    </v-row>
                                </div>

                                <v-divider></v-divider>
                                <v-row no-gutters class="py-2 pl-3"
                                       v-if="typeof openedSupply === 'number'">
                                    <v-col class="text-h5 pl-2">Total: {{ purchaseTotalPrice }}</v-col>
                                </v-row>
                            </v-sheet>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
                <v-alert
                    v-else
                    border="left"
                    colored-border
                    type="warning"
                    elevation="2"
                    class="mt-4"
                >
                    There are no supplies
                </v-alert>
            </v-col>
            <v-col cols="9"
                   v-else-if="!selectedSupplier && suppliers.length">
                <v-alert
                        border="left"
                        colored-border
                        type="warning"
                        elevation="2"
                >
                    Choose supplier at the left column
                </v-alert>
            </v-col>
        </v-row>

    </v-container>
</template>

<script lang="ts" src="./warehouse.supplies.list.controller.ts"></script>
<style lang="scss" src="./warehouse.supplies.list.scoped.scss" scoped></style>
