.orderSummary {
    background-color: #fafafa;
    border: 1px #e0e0e0 solid;
    color: #646464;
    font-size: 12px;
}

.bottomBorder {
    &:last-child {
        border: 0;
    }
}

.selectedSupplier {
    background-color: rgba(70, 130, 180, 0.2);
}